<center style="color: #7ed321; font-weight: 500; font-size: 18px; margin-bottom: 1em;">Where voters are from</center>

<div id="map-canvas" style="height: 600px; width: 900px; margin: 0; padding-bottom: 50px;"></div>
