<head>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">
<%= stylesheet_link_tag "jquery-ui-slider-pips" %>
<%= javascript_include_tag "jquery-ui-slider-pips" %>
</head>

<% if @question == nil %>
<% @question = Question.where(slug: params[:id])[0] %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $(".slider").slider({max: 10, min: 1, step: 1}).slider("pips", {rest: "label", step: 1}).slider("float");

  $(".modal-button").click(function(){
    document.getElementById('numeric_value').value = $(".ui-slider-tip")[0].innerHTML;
  });

  $('#other').keyup(function() {
    if($(this).val() != '') {
       $('.modal-button').removeAttr('disabled');
       $("input").prop("checked", false)
    }
  });

  $("form").bind("keypress", function (e) {
      if (e.keyCode == 13) {
          return false;
      }
  });

  <% if @question.input_type == "integer"%>
    $('.modal-button').removeAttr('disabled');
  <%end%>

  $('input').click(function() {
    if ($('input').is(':checked')){
       $('.modal-button').removeAttr('disabled');
       $('#other').val('');
    }
  });

  $('input[type=radio]').on('change', function() {
    $(this).closest("form").submit();
  });
});
</script>

<% if @answer == nil %>
<% @answer = user_signed_in? ? @question.answers.build(user_id: current_user.id) : @question.answers.build(user_id: cookies[:guest]) %>
<% end %>
<div class="tag-prompt">
  <% if cookies[:guest] != nil %>
    <%= form_tag('/add_tag', remote: true) do |f|%>
      <% @question.options_array.each do |tag| %>
        <%= hidden_field_tag "q_id", "#{params[:id]}"%>
        <%= radio_button_tag "value", tag, checked = false%>
        <%= label_tag "value", tag, checked = false%>
      <%end%>
    <%end%>
  <%end%>


</div>
