<% if @question == nil %>
<% @question = Question.where(slug: params[:id])[0] %>
<% end %>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
<%= javascript_include_tag "markerwithlabel" %>

<script type="text/javascript">

  $(document).ready(function() {
    <%if Opinion.where(user_id: user_signed_in? ? current_user.id : cookies[:guest], question_id: @question.id).count >= 1%>
      document.getElementById("map-canvas").style.display = 'block';
      document.getElementById("blurred-map").style.display = 'none';

      initialize("");
    <%end%>
  });


  var user_lat = <%= Location.where(user_id: user_signed_in? ? current_user.id : cookies[:guest]).first.latitude %>;
  var user_long = <%= Location.where(user_id: user_signed_in? ? current_user.id : cookies[:guest]).first.longitude %>;

  var mapOptions;

  var map;

  function initialize(tag_label) {
      if(tag_label.length > 0 && tag_label != -1){
        //if there are no tags in the db for this question then it will hit this condition. it will create the first marker so add_tag works
        mapOptions = {
          zoom: 4,
          center: new google.maps.LatLng(user_lat, user_long)
        };

        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = new MarkerWithLabel({
            position: new google.maps.LatLng(user_lat, user_long),
            map: map,
            labelContent: "You",
            labelClass: "tag-labels"
        });

        google.maps.event.addDomListener(window, 'load', initialize);


    }else {
      //When someone clicks a question it first displays all of the tags on the map (if there are any) AND creates the google map object
      <%  opinion = Opinion.new
          loc_arr = opinion.user_lat_long_all(question.id)
      %>

      mapOptions = {
        zoom: 4,
        center: new google.maps.LatLng(user_lat, user_long)
      };

      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      var element = document.getElementById('map-canvas');

      element.gMap = map;

      <% loc_arr.each do |location| %>
        if(tag_label != -1){
          //initializing the map when the user clicks the question
          if((user_lat != <%= location[0][0] %>) && (user_long != <%= location[0][1] %>)){
            var marker = new MarkerWithLabel({
                position: new google.maps.LatLng(<%= location[0][0] %>, <%= location[0][1] %>),
                map: map,
                labelContent: "<%= location[1] %>",
                labelClass: "tag-labels"
            });
          }else {
            var marker = new MarkerWithLabel({
                position: new google.maps.LatLng(<%= location[0][0] %>, <%= location[0][1] %>),
                map: map,
                labelContent: "You",
                labelClass: "tag-labels"
            });
          }
        }else{
          //initializing the map because all tags were deselected by the user.
          if((user_lat != <%= location[0][0] %>) && (user_long != <%= location[0][1] %>)){
            var marker = new MarkerWithLabel({
                position: new google.maps.LatLng(<%= location[0][0] %>, <%= location[0][1] %>),
                map: map,
                labelContent: "<%= location[1] %>",
                labelClass: "tag-labels"
            });
          }
        }
      <% end %>
    }
    google.maps.event.addDomListener(window, 'load', initialize);

  }

  function add_tag(){

    var marker = new MarkerWithLabel({
       position: new google.maps.LatLng(<%= Location.where(user_id: user_signed_in? ? current_user.id : cookies[:guest]).first.latitude %>, <%= Location.where(user_id: user_signed_in? ? current_user.id : cookies[:guest]).first.longitude %>),
       map: map,
       labelContent: "You",
       labelClass: "tag-labels"
    });

    map.setCenter(marker.getPosition());

  }

</script>

<div id="tag_list_container">
  <%= render partial: "tag_list"%>
</div>

<%= image_tag("map_blur.png", height: '600', width: '900', id: "blurred-map") %>

<div id="map-canvas" style="height: 600px; width: 900px; margin: 0; padding-bottom: 50px; display: none;"></div>
<div style="height: 30px;"></div>
