<head>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">
<%= stylesheet_link_tag "jquery-ui-slider-pips" %>
<%= javascript_include_tag "jquery-ui-slider-pips" %>
</head>

<% if @question == nil %>
<% @question = Question.where(slug: params[:id])[0] %>
<% end %>

<%@tag_array = Tag.where(question_id: @question.id)%>

<script type="text/javascript">
$(document).ready(function() {
  $(".slider").slider({max: 10, min: 1, step: 1}).slider("pips", {rest: "label", step: 1}).slider("float");

  $(".modal-button").click(function(){
    document.getElementById('numeric_value').value = $(".ui-slider-tip")[0].innerHTML;
  });

  $("form").bind("keypress", function (e) {
      if (e.keyCode == 13) {
          return false;
      }
  });

  var checkbox = $('.form-radio');

  <%if user_signed_in?
      @liked_tag = Opinion.where(user_id: current_user.id, question_id: @question.id)
      @liked_tag_array = Array.new()
      @liked_tag.each do |tagId|
        @liked_tag_array << Tag.where(question_id: @question.id, id: tagId.tag_id).first.label
      end
    else
    @liked_tag = Opinion.where(user_id: cookies[:guest], question_id: @question.id)
    @liked_tag_array = Array.new()
    @liked_tag.each do |tagId|
      @liked_tag_array << Tag.where(question_id: @question.id, id: tagId.tag_id).first.label
    end

    end
  %>

  $('input[type=radio]').not(':checked').parent().removeClass('checked'); //Remove checked class from all other radios that are not checked
  $('input[type=radio]').not(':checked').siblings().removeClass('checked').css("color", "#6a6a6a");

  <%if !@liked_tag_array.nil?%>
    <%@liked_tag_array.each do |tag|%>
      index = 0
      for(index; index <= <%= @tag_array.length - 1%>; index++){
        if ($('input[type=radio]')[index].value == "<%= tag %>"){
          $('input[type=radio]')[index].offsetParent.setAttribute("class", "checked tag_button_collection");

          $('input[type=radio]')[index].nextElementSibling.src = "/images/blue_heart.png";
          $('input[type=radio]')[index].nextElementSibling.onmouseout = null
          $('input[type=radio]')[index].nextElementSibling.onmouseover = null
          $('input[type=radio]')[index].nextElementSibling.setAttribute("class", "blue-heart");
          $('input[type=radio]')[index].nextElementSibling.nextElementSibling.setAttribute("style", "color: white");
        }
      }
    <%end%>
  <%end%>


  $('input[type=radio]').on('change', function() {
    $(this).closest("form").submit();
  });

});
</script>

<% if @answer == nil %>
<% @answer = user_signed_in? ? @question.answers.build(user_id: current_user.id) : @question.answers.build(user_id: cookies[:guest]) %>
<% end %>
<div class="tag-prompt">
  <%= simple_form_for @answer,:url => {:action => "add_tag", :controller => "answers"}, class: "form-inline", role: "form", html: {novalidate: true}, :remote => true do |f| %>
    <div id="otherInput">
      <div id="otherInputBox">
        <%= hidden_field_tag 'question_id', @question.id %>
        <%= f.label "New Tag", class: "new-tag" %>
        <%= f.input(:options_for_collection, label: false,input_html:{ value: nil, placeholder: "Add a tag or tags to concisely share your thoughts...", class: "other-input-text", id:"other"}) %>
        <%= f.submit "", class: "new-tag-submit" %>
      </div>
    </div>
    <br>
    <div class="options">

        <%if !@tag_array.nil?  %>

            <% @tag_array.each do |tag|%>
            <label class= "tag_button_collection">
              <%= f.radio_button :value, tag.label, :class=>"form-radio"%>
              <%="#{tag.label}"%>
              <% @tag_count = tag.counter %>
              <%= image_tag("grey_heart.png", class:"grey-heart", :onMouseover=> "this.src='/images/blue_heart.png'",:onMouseout=> "this.src='/images/grey_heart.png'")%>
              <%#= image_tag("blue_heart.png", class:"blue-heart")%>

              <span class="tag-count">
                <%= @tag_count %>
              </span>
            </label>
            <%end%>

      <% end %>
    </div>
  <% end %>
</div>
