<!-- Report Container -->
<div class="report-container">
  <%= render partial: 'common/guest_visualization', locals: { question: question } %>
</div>

<div class="share-answer">
  <div class="share-answer-text">Share this answer! Better yet, <%= link_to 'Sign Up', new_registration_path(resource_name), id: "share-signup-btn" if !user_signed_in? %> and gain 5 points at the same time!</div>
<%= render partial: "questions/share", locals: {
          id: question.id,
          url: "#{request.protocol}#{request.host_with_port}" + question_path(question),
          title: "Check out this question and see how you compare to the rest of the world!!",
          description: "Check out this question and see how you compare to the rest of the world!!",
          image: "#{request.protocol}#{request.host_with_port}" + answer_thumb_path(question)
        }
%>
</div>
