<script>
  $(document).ready(function(){
    var answerBoxCounter = 2
    var MAX_BOX_COUNT = 6
     $("#add-answer-button").click(function() {
       // add another answer text box when clicked under existing text box.
       var newBoxNumber = answerBoxCounter + 1

       if (newBoxNumber <= MAX_BOX_COUNT) {

         var newHtml = '<input type="text" name="answer_box_' + newBoxNumber +'" id="answer-box-' + newBoxNumber +'" class="answer-box" placeholder="Answer here">'

         $(".answer-type-input-box").append(newHtml)
         answerBoxCounter++
       }
     })
     if($('#value_type').val() != "collection"){
        $("#answer-types").css('display','none');

     }
     else{
        $("#answer-types").css('display','block');
     }

     $('#value_type').change(function(){
        if($(this).val() != "collection"){
          $("#answer-types").css('display','none');
        }
        else{
        $("#answer-types").css('display','block');
        }
     })

     function updateCountdown() {
    // 140 is the max message length
    var remaining = 150 - jQuery('#input-q-title').val().length;
    jQuery('.countdown').text(remaining + ' characters remaining.');
    }

      jQuery(document).ready(function($) {
      updateCountdown();
      $('#input-q-title').change(updateCountdown);
      $('#input-q-title').keyup(updateCountdown);
      });
  });

</script>

<!-- Submit Question Modal -->
<section class="modal fade" id="submitQuestionModal" tabindex="-1" role="dialog" aria-labelledby="submit-question-label" aria-hidden="true">
  <section class="modal-dialog">
    <section class="modal-content" >

      <article class="modal-header bg-blue">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #fff;">×</button>
        <h2 class="modal-title submit-q-text" id="submit-question-label">
          Ask a Question
        </h2>
        <p class="modal-header-text" >
          Have a question you want to ask?
        </p>
      </article> <!-- ./modal-header -->

      <article class="modal-body">
        <%= form_for Question.new do |f|%>
        <section class="submit-questions-container">
          <article class="submit-q-container">
            <p class="modal-input-title">
              Your Question:
            </p>
            <p class="submit-q-input-box">
              <input type="text" name="submit_question_name" id="input-q-title" placeholder="When during the day do you enjoy eating snacks?">
              <span class="countdown"></span>
            </p>
          </article>
          <article class="submit-q-container">
              <p class="modal-input-title">
                Question Category:
              </p>
              <p class="submit-q-dropdown">
                <%= select_tag(:group_id, options_for_select([["Money Matters", 1],["Health & Fitness", 2], ["Education & Knowledge", 3], ["Electronics & Gadgets", 4], ["Business & Career", 5], ["Sports", 6], ["Entertainment", 7], ["Travel & Lifestyle", 8], ["Food", 9], ["Current Events", 10]]), onchange: "field_reveal()", required: "required", class: "answer-type-select") %>
              </p>
          </article>

          <article class="submit-q-container">
              <p class="modal-input-title">
                Answer Type:
              </p>
              <p class="submit-q-dropdown">
                <%= select_tag(:value_type, options_for_select([["Multiple Choice", "collection"],["Numerical Value", "quantity"]]), onchange: "field_reveal()", required: "required", class: "answer-type-select") %>
              </p>
              <section class="selected-multiple-choices" id="answer-types">
                <p class="modal-input-title">
                  Answers:
                </p>
                <p>* Maximum of 6 answers, empty boxes will not be added.</p>
                <section class="submit-input-container">

                  <div class="answer-type-input-box">
                    <input type="text" name="answer_box_1" id="answer-box-1" class="answer-box" placeholder="Answer here">
                    <input type="text" name="answer_box_2" id="answer-box-2" class="answer-box" placeholder="Answer here">
                  </div>
                </section>
                <input type="button" value="Add another answer" id="add-answer-button"/>

              </section>
          </article>
          <%= f.submit "Submit", class: "modal-finished-button" %>
        </section>
        <% end %>
      </article>
    </section><!-- /.modal-content -->
  </section><!-- /.modal-dialog -->
</section><!-- /.modal -->
