<table class="users-table">
  <thead>
    <tr class="users-table-headers">
      <th>Rank</th>
      <th>Name</th>
      <th>Location</th>
      <th>Points</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "leaderboards" %>
  </tbody>
</table>
