<script>
</script>


<div id="feed-container">
  <div class="dont-wrap">

  </div>

  <!--<hr />-->

  <div id="feed">
    <%= render partial: 'stream' %>
  </div>

  <div id="paginator">
    <%= paginate @all, :remote => true %>
  </div>
</div>
