

<div id="feed-container">
  <div class="dont-wrap">

  </div>

  <div id="feed">
    <%= render partial: 'common/categories_sidebar' %>

    <%= render partial: 'stream' %>
  </div>

  <div id="paginator">
    <%= paginate @all, :remote => true %>
  </div>
</div>
