<% provide(:title, 'Profile') %>

<%@user = User.where(username: params[:username]).first%>

<div class="profile-container">
  <%= render partial: "profile_hero", locals: {user: @user} %>

  <div id="profile-data-container">
      <div class="no-questions-filler">
        <p>Share an image or add some tags to see this space fill up!</p>
      </div>
  </div>
</div>
