<% provide(:title, 'Profile') %>

<%@user = User.where(username: params[:username]).first%>

<div class="profile-container">
  <%= render partial: "profile_hero", locals: {user: @user} %>

  <div class="questions-container" id="profile-data-container" style="padding-left:200px;">
    <%# if @answered_questions.empty? && @asked_questions.empty? %>
      <div class="no-questions-filler">
        <p>Answer or ask some questions to see this space fill up!</p>
      </div>
    <%# end %>

    <div class="questions-answered">
      <%#= render 'answered_questions' %>
    </div>

    <div class="questions-asked questions-hidden">
      <%#= render 'asked_questions' %>
    </div>

    <div class="questions-trophy questions-hidden">
      <%#= render 'trophy_display' %>
    </div>

  </div>
</div>
