<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Dear <%= @user.name %>,</h4>
    <p>
      We have recieved a request for password change for email <%= @user.email %> <br>
    </p>
    <p>
      To reset password just follow this link: http://arima.io<%= edit_forgot_password_path(@user.password_reset_token) %>
    </p>
    <p>Thanks you have a great day!</p>
  </body>
</html>
