<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You haven't been on Arima in a while &#9785;</h1>
    <p>
      You haven't been on the site in a month, and we just wanted to make sure you're still sastisfied with the site. <br>
    </p>
    <p>
      We'd appreciate any feedback on what you feel the site is lacking and your experience of the site.
    </p>
    <p>
      Thanks!
    </p>
  </body>
</html>
