<style>
h3 {
    color: #00c39c;
    margin: 2% auto;
    position: relative;
    left: 32%;
}

</style>

<h3> Results: </h3>

<div class="main-site-container">

  <div id="questions-container">
    <% if session[:guest] && @unanswered.any? %>
      <%= render partial: "categories/show_unanswered_questions" %>

      <% if session[:guest] && !@answered.empty? %>
        <%= render partial: "categories/show_answered_questions" %>
      <% end %>
    <% else %>
      <%= render partial: "categories/show_questions" %>
    <% end %>
  </div>
</div>
