<%= stylesheet_link_tag "about" %>

<div id="about-hero">
  <h1>About Us</h1>
</div>

<div id="about-content">
  <div class="about-section">
    <h2>Our Vision.</h2>
    <p>Arima is a crowd-contributed open-data knowledge base. As a participant, you will have the opportunity to browse and answer questions ranging from a variety of topics and gain valuable insights by comparing yourself to others from your area, country and worldwide.</p>
    <p> Our mission is to collect, aggregate, organize and present data in a friendly way for people to make decisions and understand the world through numbers.</p>
  </div>

  <div class="about-section">
    <h2>Our History.</h2>
    <iframe class="about-timeline" src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AsMFcypgup2kdEpqeGhZVGJ1RmcxWUZ1cy1walVOMkE&font=BreeSerif-OpenSans&maptype=toner&lang=en&start_at_end=true&height=500' width='100%' height='500' frameborder='0'></iframe>
  </div>

  <div class="about-section">
    <h2>Meet the Team.</h2> <p>We're a small team from Toronto - home of the Leafs, Raptors, and insanely-cold winters. We continuously work on Arima while enjoying lunch breaks at Subway, and we <em>like it</em>.</p>

    <div class="team-container">
        <div class="team-member" style="background: url('/about-pictures/justin.jpg') center center; background-size: cover;">
          <div class="filter"></div>
          <div class="team-member-info">
            <p class="team-member-name">Justin Lee</p>
            <p class="team-member-title">Design</p>
          </div>
        </div>

        <div class="team-member" style="background: url('/about-pictures/jeff.jpg') center center; background-size: cover;">
          <div class="filter"></div>
          <div class="team-member-info">
            <p class="team-member-name">Jeff Martin</p>
            <p class="team-member-title">Product</p>
          </div>
        </div>

        <div class="team-member" style="background: url('/about-pictures/ruben.jpg') center center; background-size: cover;">
          <div class="filter"></div>
          <div class="team-member-info">
            <p class="team-member-name">Ruben Avila</p>
            <p class="team-member-title">Development</p>
          </div>
        </div>

        <div class="team-member" style="background: url('/about-pictures/atsushi.jpg') center center; background-size: cover;">
          <div class="filter"></div>
          <div class="team-member-info">
            <p class="team-member-name">Atsushi Hirata</p>
            <p class="team-member-title">Development</p>
          </div>
        </div>

        <div class="team-member" style="background: url('/about-pictures/tony.jpg') center center; background-size: cover;">
          <div class="filter"></div>
          <div class="team-member-info">
            <p class="team-member-name">Tony Deng</p>
            <p class="team-member-title">Design</p>
          </div>
        </div>

        <div class="team-member" style="background: url('/about-pictures/winston.jpg') center center; background-size: cover;">
          <div class="filter"></div>
          <div class="team-member-info">
            <p class="team-member-name">Winston Li</p>
            <p class="team-member-title">Founder</p>
          </div>
        </div>
    </div>
  </div>
</div>
