<%= javascript_include_tag "home", :type => "text/javascript" %>

<section class="static-page-header">
  <div class="static-page-header-text-container">
    <h1 class="static-header">Arima Terms of Service</h1>
    <h4 class="static-subtitle">Last Updated: April 12, 2014</h4>
  </div>
</section>

<section id="content-block" class="static-page">
  <article class="static-page-section">
    <p>Welcome to the Arima Terms of Service (the “Terms”). Please read these Terms carefully because they govern your use of our website located at www.arima.io (the “Site”). To make these Terms easier to read, the Site and our services are collectively called the “Services.”</p>
  </article>

  <article class="static-page-section">
    <h2>Agreement to Terms</h2>
    <p>By accessing or using our Services, you agree to be bound by these Terms. If you do not agree to these Terms, do not use the Services.</p>
  </article>

  <article class="static-page-section">
    <h2>Changes to Terms or Services</h2>
    <p>We may modify the Terms at any time, in our sole discretion. If we do so, we’ll let you know either by posting the modified Terms on the Site or through other communications. It’s important that you review the Terms whenever we modify them because if you continue to use the Services after we have posted modified Terms on the Site or Apps, you are indicating to us that you agree to be bound by the modified Terms. If you don’t agree to be bound by the modified Terms, then you can’t use the Services anymore. Because our Services are evolving over time we may change or discontinue all or any part of the Services, at any time and without notice, at our sole discretion.</p>
  </article>

  <article class="static-page-section">
    <h2>Creating an Account</h2>
    <p>In order to access and use the Services, you will need to register and create an account (your “Account”). By creating an Account, you represent that you are 13 years or older and are not barred from using the Services under applicable law. When creating an Account, you may be required to provide certain PII about yourself and will establish a username and a password. You agree to provide accurate, current and complete information about your Account.</p>

    <p>When creating an Account, don’t:</p>

    <ul>
      <li>provide any false PII to us (including a false username) or create any Account for anyone other than yourself without such other person’s permission;</li>
      <li>use a username that is the name of another person with the intent to impersonate that person;</li>
      <li>use a username that is subject to rights of another person without appropriate authorization; or</li>
      <li>use a username that is offensive, vulgar or obscene or otherwise in bad taste.</li>
    </ul>

    <p>We reserve the right to suspend or terminate your Account if any information provided during the registration process or thereafter proves to be inaccurate, false or misleading or to reclaim any username that you create through the Services that violates our Terms. You are responsible for maintaining the confidentiality of your password and Account, and agree to notify us if your password is lost, stolen, or disclosed to an unauthorized third party, or otherwise may have been compromised. You are responsible for activities that occur under your Account.</p>

    <p>You can link your Account to various webmail, social networking, and other online accounts. You may only link your own accounts. We will access and retrieve your account information from these sites on your behalf (in some cases, by using your username and password) to make certain information or services available to you through the Services. By linking your other accounts, you expressly authorize us to access your account information from those third party accounts, on your behalf and permit us to access, use and, in some cases, store your account information to accomplish the foregoing.</p>
  </article>

  <article class="static-page-section">
    <h2>Privacy policy</h2>
    <p>Please refer to our Privacy Policy for information on how we collect, use and disclose information from our users.</p>
  </article>

  <article class="static-page-section">
    <h2>Content Submissions</h2>

    <p>For purposes of these Terms: (i) “Content” means text, numbers, inputs, graphics, works of authorship of any kind, and information or other materials that are posted, generated, provided or otherwise made available through the Services; and (ii) “User Content” means any Content that Account holders (including you) provide to be made available through the Services. Content includes without limitation User Content.</p>

    <p>Arima does not claim any ownership rights in any User Content that you make available through the Services and nothing in these Terms will be deemed to restrict any rights that you may have to use and exploit your User Content. Subject to the foregoing, Arima and its licensors exclusively own all right, title and interest in and to the Services and Content, including all associated intellectual property rights. You acknowledge that the Services and Content are protected by copyright, trademark, and other laws of Canada and foreign countries. You agree not to remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Services.</p>
  </article>

  <article class="static-page-section">
    <h2>Rights in User Content Granted by You</h2>

    <p>You are responsible for the User Content that you post to the Services, including its legality, reliability, and appropriateness. By posting User Content to the Services, you grant Arima a non-exclusive, transferable, sublicenseable, worldwide, royalty-free right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such User Content on and through the Services. You agree that this license includes the right for us to make such User Content available to other users of the Services, who may also use such User Content subject to these Terms.</p>

    <p>You represent and warrant that: (i) the User Content is yours (you own it) or you have the right to use it and grant us the rights and license as provided in these Terms, and (ii) the posting of the User Content on or through the Services does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person.</p>

    <p>We ask that you respect our on-line community and other users when posting User Content and using the Services. When submitting User Content to or otherwise using the Services, you agree not to:</p>
    <ul>
      <li>submit material that violates a third party’s proprietary rights, including privacy and publicity rights, or that otherwise violates any applicable law;</li>
      <li>publish falsehoods or misrepresentations that could damage us, our users or any third party;</li>
      <li>publish any private information of someone, like their address, phone number, email address, and similar information without their permission;</li>
      <li>submit material that is unlawful, obscene, defamatory, libelous, threatening, pornographic, harassing, hateful, racially or ethnically offensive, or encourages conduct that would be considered a criminal offense, give rise to civil liability, violate any law, or is otherwise inappropriate;</li>
      <li>post advertisements;</li>
      <li>impersonate another person or represent yourself as affiliated with us, our staff or other industry professionals;</li>
      <li>solicit a user’s password or other account information; or</li>
      <li>harvest user names, addresses, or email addresses for any purpose.</li>
    </ul>

    <p>This list is an example and is not intended to be complete or exclusive. We don’t have an obligation to monitor your access to or use of the Services or to review or edit any Content, but we have the right to do so for the purpose of operating the Services, to ensure your compliance with these Terms, or to comply with applicable law or the order or requirement of a court, administrative agency or other governmental body. We reserve the right, at any time and without prior notice, to remove or disable access to any Content that we consider, in our sole discretion, to be in violation of these Terms or otherwise harmful to the Services.</p>

    <p>You can remove your User Content by specifically deleting it. However, in certain instances, some of your User Content (such as posts or comments you make) may not be completely removed and copies of your User Content may continue to exist on the Services. We are not responsible or liable for the removal or deletion of (or the failure to remove or delete) any of your User Content.</p>
  </article>

  <article class="static-page-section">
    <h2>Questions</h2>
    <p>If you have any questions, please email us at <a href="mailto:info@arima.io">info@arima.io</a> .</p>
  </article>
</section>
