<% defined?(answer) && @answer = answer %>
<% has_city = @answer.user.location.city.present? %>
<div class="header">
  <div class="question-label"><%= link_to @answer.question.label, @answer.question %></div>
  <div class="summary-container">
    <div class="summary-section you-answered">
      <div class="title">
        <% if session[:guest] != nil && answer.user == current_user   %>
          You
        <% else %>
          <%= answer.user.display_name %>
        <% end %>
        Answered:
      </div>
      <div class="answer">
        <%= "#{@answer.value_symbol}#{@answer.value} <small>#{@answer.placeholder}</small>".html_safe %>
      </div>
    </div>
  </div>
</div>

<% if session[:guest] != nil && @answer.user == current_user %>
  <div class="report-points-rewarded">
    <span>You earned 1 point for answering this question! <a id="about-points-indicator" href="/faq#about-points"><div class="about-points-circle">?</div></a></span>
  </div>

  <% if current_user.is_set_up? then %>
    <!-- share buttons -->
    <div class="share-answer-section">
      <div class="col-sm-12">
        <div class="text-center">
          <p>Share your stats</p>
          <div class="answers-share-container">
            <%= render partial: "answers/share", locals: {
                  id: @answer.id,
                  url: "#{request.protocol}#{request.host_with_port}" + answer_path(@answer),
                  title: "See what I got compared to the rest of the world!",
                  description: @answer.description,
                  image: "#{request.protocol}#{request.host_with_port}" + answer_thumb_path(@answer)
                }
            %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<br>
