#index-container {
  width: 100%;
  margin: auto;
  margin-top: 7em;
  padding-bottom: 7em;
  text-align: center;

  .index-title-container {
    margin-bottom: 3.5em;

    .index-container-title {
      color: #50E3C2;
      font-weight: 600;
      font-size: 50px;
    }

    .index-legend-icon {
      height: 20px;
      width: auto;
      margin-bottom: 2px;
    }

    .index-legend-label {
      color: #4f4f4f;
      font-weight: 600;
      font-size: 15px;
    }
  }

  .index-category-row {
    padding: 1em 3em 1em 3em;
    margin-top: 1em;

    .index-category-link {
      .index-category-column {
        .index-category-container {
          border-radius: 7px;
          -webkit-transition: all 150ms linear;

          &:hover {
            opacity: 0.9;
            box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
          }

          .index-category-header {
            height: 135px;
            width: 100%;
            background-color: #00c39c;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            padding: 1em;
            color: #fff;

            .index-category-title{
              color: #fff;
              font-weight: 600;
              font-size: 20px;
            }

            .index-category-icon {
              width: 50px;
              height: auto;
            }

            .index-category-hint {
              text-decoration: underline;
            }
          }

          .index-category-questions-container {
            background-color: #f9fef9;
            width: 100%;
            padding: 2em;
            text-align: left;
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            color: #5a5a5a;

            .index-category-question-container {
              &:not(:first-child) {
                margin-top: 2em;
              }

              .index-category-question-title {
                font-weight: 600;
                margin: 0;
                margin-bottom: 2px;
              }

              .index-category-question-icon {
                height: 20px;
                width: auto;
                margin-bottom: 2px;
              }
            }
          }

          /* Index Category Header Colours */
          .index-category-money-matters {
            background-color: #8AD321;
          }

          .index-category-health-fitness {
            background-color: #70E25B;
          }

          .index-category-education-knowledge {
            background-color: #4AAAE2;
          }

          .index-category-electronics-gadgets {
            background-color: #5D98DE;
          }

          .index-category-business-career {
            background-color: #E96C4E;
          }

          .index-category-sports {
            background-color: #F3A82D;
          }

          .index-category-entertainment {
            background-color: #966DBA;
          }

          .index-category-travel {
            background-color: #46CEDE;
          }

          .index-category-lifestyle {
            background-color: #46CEDE;
          }

          .index-category-food {
            background-color: #EAC57B;
          }

          .index-category-current-events {
            background-color: #50E3C2;
          }

          .index-category-politics {
            background-color: #004FAA;
          }
        }
      }
    }
  }
}
