
#feed-container {
  height: 100%;
  width: 100%;

  .dont-wrap {
    white-space: nowrap;
     clear:both;
  }

  #feed {
    margin-top: 5em;
    text-align: center;
    margin-left: 110px;
    margin-right: 10px;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {

  #feed {
    margin-left: 0px !important;
  }
}
