.category-inner-container {
    float:left;
    margin-right: 20px;
    margin-top: 28px;
    margin-left: 5px;
    margin-bottom: 45px;

  }

.nav-icons {
  float:left;
  margin-right: 20px;
  margin-top: 28px;
  margin-left: 5px;
  margin-bottom: 30px;
}

.category-title{
  font-weight: bold;
  color: #4a4a4a;
  float: right;
}

.category-icon{
  position: relative;
  bottom: 4px;
}

.category-title-selected{
  font-weight: bold;
  color: #4a4a4a;
  margin-top: 7px;
}

.category-title-not-selected{
  font-weight: bold;
  color: #c8c8c8;
  margin-top: 7px;

}


#icon-container {
    margin: 0 0 0 5%;
    width:90%;

  .arima-icon{
    position: relative;
    float: left;
    top: 27px;
    margin-right: 1em;
    color: #4a4a4a;
    font-weight:bold;
  }
}

#feed-container {
  height: 100%;
  width: 100%;

  .dont-wrap {
    white-space: nowrap;
     clear:both;
  }

  #feed-stats-container {
    width: 50%;
    margin: auto;
    margin-top: -2em;
    margin-bottom: 1em;
    text-align: center;

    .feed-stats {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 75px;
      }

      .feed-stats-data {
        font-size: 35px;
        font-weight: 600;
        color: #00c39c;
        margin-bottom: 2px;
      }

      .feed-stats-title {
        font-size: 16px;
        color: #00c39c;
        margin-top: 2px;
      }
    }
  }

  hr {
    width: 25%;
    text-align: center;
  }

  #feed {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }
}
