.category-inner-container {
    float:left;
    margin-right: 20px;
    margin-top: 28px;
    margin-left: 5px;
    margin-bottom: 45px;

  }

  .nav-icons {
    float:left;
    margin-right: 20px;
    margin-top: 28px;
    margin-left: 5px;
    margin-bottom: 45px;

    &:hover{
     transform: scale(1.2); 

    }
  }


.category-title{
  font-weight: bold;
  color: #4a4a4a;
  margin-top: 7px;
}

.category-title-selected{
  font-weight: bold;
  color: #4a4a4a;
  margin-top: 7px;
}

.category-title-not-selected{
  font-weight: bold;
  color: #c8c8c8;
  margin-top: 7px;

}


#icon-container {
    margin: 0 0 0 7%;
    width:90%;
}

#feed-container {
  height: 100%;
  width: 100%;

  .dont-wrap {
    white-space: nowrap;
     clear:both;
  }

  #feed-stats-container {
    width: 50%;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 2em;
    text-align: center;

    .feed-stats {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 75px;
      }

      .feed-stats-data {
        font-size: 45px;
        font-weight: 600;
        color: #00c39c;
        margin-bottom: 5px;
      }

      .feed-stats-title {
        font-size: 19px;
        color: #00c39c;
        margin-top: 5px;
      }
    }
  }

  hr {
    width: 25%;
    text-align: center;
  }

  #feed {
    width: 42%;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 2em;
  }
}
