.nav-icons {
  float:left;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.category-title{
  font-weight: 500;
  color: #4a4a4a;
  float: right;
  margin-left:5px;
  font-size: 12px;
}

.category-icon{
  position: relative;
  bottom: 4px;
  display: inline-block;

}

.category-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

}
#icon-container::-webkit-scrollbar { width: 0 !important }


#icon-container {
    margin: 0% 0 0 0%;
    width:100%;
    background-color: #fff;
    position: fixed;
    margin-top: -2px;
    opacity: .9;
    border-bottom: 1px solid #ececec;
    height: 40px;

    white-space: nowrap;

  .arima-icon{
    position: relative;
    top: 10px;
    margin-right: 1em;
    margin-left:3em;
    color: #4a4a4a;
    font-weight:500;
    font-size:12px;
  }
}

#feed-container {
  height: 100%;
  width: 100%;

  .dont-wrap {
    white-space: nowrap;
     clear:both;
  }

  #feed-stats-container {
    width: 50%;
    margin: auto;
    margin-top: -2em;
    margin-bottom: 1em;
    text-align: center;

    .feed-stats {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 75px;
      }

      .feed-stats-data {
        font-size: 35px;
        font-weight: 600;
        color: #00c39c;
        margin-bottom: 2px;
      }

      .feed-stats-title {
        font-size: 16px;
        color: #00c39c;
        margin-top: 2px;
      }
    }
  }

  /*hr {
    width: 25%;
    text-align: center;
  }*/

  #feed {
    margin-top: 5em;
    text-align: center;
    margin-left: 75px;
    margin-right: 10px;
    width: 90%;
  }
}
