.sidebar-footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  font-size: 15px;
  padding: 10px 0 10px 0;
  color: #A09E9E;
  background-color: #E3E3E3;


  .sidebar-footer-sections {
    display: inline-block;
    .sidebar-footer-list {
      padding: 0;


      li {
        font-weight: 400;
        display: inline-block;
        list-style-type: none;
        a {
          color: #A09E9E;

          .sidebar-footer-social-img {
            position: relative;
            margin-left: 10px;
            width: 25px;
            height: auto;
            margin-right: 0px;
          }
        }
      }
    }
  }
}
