.sidebar-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 12px;
  padding: 9px 0 9px 0;
  color: #A09E9E;
  background-color: #F6F6F6;
  height: 3.5em;
  opacity: .95;


  .sidebar-footer-sections {
    display: inline-block;
    .sidebar-footer-list {
      padding: 0;


      li {
        font-weight: 400;
        display: inline-block;
        list-style-type: none;
        a {
          color: #A09E9E;

          .sidebar-footer-social-img {
            position: relative;
            margin-left: 10px;
            width: 25px;
            height: auto;
            margin-right: 0px;
          }
        }
      }
    }
  }
}
