.footer {
  width: 100%;
  color: #555;
  padding: 15px 25px 15px 25px;
  display: inline-block;
  text-align: center;
  position: relative;
  bottom: 0;
  border-top: 1px dashed #aaa;

  .footer-links {
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    vertical-align: middle;

    .footer-sections {
      display: inline-block;
      width: auto;
      vertical-align: top;
      text-align: left;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .footer-answers {
    width: 100%;
    margin: auto;

    .answers-submitted {
      text-transform: uppercase;
    }

    .answers-submitted-num {
      font-size: 15px;
      margin-top: 0.5em;
    }

    .answers-submitted-caption {
      font-size: 15px;
    }
  }
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;

  li {
    list-style: none;
    display: inline-block;

    &:not(:first-child) {
      margin-left: 8px;
    }

    .footer-social-img {
      height: 20px;
      width: auto;

      &:hover {
        opacity: 0.5;
      }
    }

    a {
      color: #555;
    }

    a:hover {
      color: #00c39c;
    }
  }
}
