.leaderboard-top-container{
   width: 100%;
   margin-top: 4em;
   height: 320px;



  .leaderboard-hero {
    margin-top: 2em;
    text-align: left;
    margin-left: 13em;


    .leaderboard-title {
      font-weight: 600;
      font-size: 39px;
      line-height: 43px;
    }

    .leaderboard-subtitle {
      font-size: 20px;
      color: #898989;
      line-height: 25px;
    }
 }

  .rank-points{
    display: inline-block;
    margin-left: 180px;
    margin-top: 20px;


    .leaderboard-user-rank-container {
      height: 110px;
      width: 110px;
      background-color: #00C39C;
      border-radius: 6px;
      color: #fff;
      text-align: center;
      display: inline-block;



      }



      .leaderboard-user-rank-title {
        font-size: 18px;
        font-weight: 500;
        margin-top: 30px;
      }

      .leaderboard-user-rank {
        font-size: 30px;
        font-weight: 600;
        margin-top: -5px;
      }

      .leaderboard-points-rank-container {
        height: 110px;
        width: 110px;
        background-color: #fff;
        border-radius: 6px;
        color: #fff;
        text-align: center;
        display: inline-block;
        float:right;
        padding-left: 40px;



      }

      .leaderboard-points-rank {
        font-size: 30px;
        font-weight: 600;
        margin-top: -5px;
        color: #00c39c;
      }

      .leaderboard-points-rank-title {
        font-size: 18px;
        font-weight: 500;
        margin-top: 30px;
        color: #00c39c;
      }
  }


    .verticalLine {
       border-left: solid #DBDBDB 1px;
       height: 230px;
       width: 0px;
       position: relative;
       left: 35em;
       top: -15em;

    }

    .verticalLine2 {
       border-left: solid #DBDBDB 1px;
       height: 230px;
       width: 0px;
       position: relative;
       left: 66em;
       top: -52em;

    }
    
    .about-points-container {
      color: #4a4a4a;
      display: inline-block;
      position: relative;
      top: -33em;
      left: 36em;
      line-height: 50px;
    
    #title{
      color: #00c39c;
      font-size: 17px;
    }

    .emphasized{
    padding-left: 5px;
    color: #4A90E2;
    
    }
    
   p {
      padding-bottom: 0px;
    }

    ul {
      margin-bottom: 1.75em;

      li {
        margin-left: 2em;
        list-style-type: none;
      }

    }
  }
     .why-earn-points-container {
      color: #4a4a4a;
      display: inline-block;
      position: relative;
      top: -69.8em;
      left: 68em;
      line-height: 50px;
    
    #title{
      color: #00c39c;
      font-size: 17px;
    }
    
   p {
      padding-bottom: 0px;
    }

    ul {
      margin-bottom: 1.75em;

      li {
        margin-left: 0em;
        list-style-type: none;
      }

    }
  }


}

.leaderboard {
  width: 68%;
  margin: 0 auto;
  color: #4a4a4a;
  padding-bottom: 5em;
  padding-top: -10em;




  .filter {
    margin-left: 3em;
    margin-bottom: 3em;

    .filter-span {
      font-size: 17px;
      font-weight: 600;
      color: #4A4A4A;
      line-height: 30px;
    }

    .filter-location-select {
      width: 250px;
      height: 35px;
      font-size: 15px;
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid #DBDBDB;
      color: 4A4A4A;
      text-align: center;

      &:hover {
        background-color: #dbdbdb !important;
      }
    }
  }

  .users2 {
    width: 100%;

    .users-table {
      width: 100%;
      counter-reset: rowNumber;

      .users-table-headers {
        th {
          text-align: center;
          color: #00c39c;
          font-weight: 800;
          font-size: 18px;
        }
      }

      .leaderboard-user-row {
        height: 100px;
        width: 100%;
        counter-increment: rowNumber;

        &:nth-child(even) {
          background-color: #f2f2f2;
        }

        &.curr_user {
          background-color: #A4F9E6;
        }

        td {
          text-align: center;
          font-size: 16px;
          font-weight: 600px;
        }

        .leaderboard-user-rank {
          color: #9B9B9B;

          &::before {
            content: counter(rowNumber);
          }
        }

        .leaderboard-user-name {

        }

        .leaderboard-user-location {

        }

        .leaderboard-user-points {

        }
      }
    }
  }
}
