/* Share New Question Modal */
#shareNewQuestionModal,
#shareAnswerModal {
  width: 700px;
  padding: 100px 0px 20px 0px;
  margin: 0 auto;
  overflow: hidden;

  .share-question-modal-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #00c39c !important;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;

    .share-question-label {
      font-weight: 500;
      font-size: 25px;
    }

    .share-question-subtitle {
      font-weight: 400;
      font-size: 17px;
      margin-bottom: 0;
    }
  }

  .share-modal-content-container {
    text-align: center;
    background-color: #fff;
    color: #aaa;
    font-weight: 300;
    padding-top: 3em;
    padding-bottom: 2em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .go-back-link {
      padding: 5px 10px 5px 10px;
      background-color: #00c39c;
      color: #fff;
      font-weight: 600;
      border-radius: 3px;
      width: 25%;
      margin: auto;
      margin-top: 5em;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    .never-show-again-link {
      color: #aaa;
      cursor: pointer;
      display: block;
      width: 175px;
      margin: auto;
      margin-top: 0.75em;
    }

    .share-modal-tip {
      margin-top: 1.5em;
      font-weight: 600;
    }

    .share-sections {
      margin-bottom: 2.5em;

      .share-link {
        &:not(:first-child) {
          margin-left: 35px;
        }

        .share-image {
          width: 90px;
          height: auto;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

#shareSignupModal {
  background: url(image_path('taipeiday_bg.png')) repeat-x center top;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 50em;
  height: 30em;
  margin: 20em 0 0 38em;
  overflow: hidden;
  border-radius: 10px;

  .share-modal-content-container {
    text-align: left;
    padding-top: 2em;
    padding-left: 4em;

    .signup-form {

      .signup-section {

        .signup-input {
          width: 22em;
          float: left;

          .input-username,
          .input-email,
          .input-password {
            display: inline-block;
            margin: 1em 0 0 0 ;

            .lock {
              position: relative;
              right: 3px;
              display: inline;
              padding-left: 4px;
              padding-bottom: 4.5px;
              width: 5%;
            }

            .input-box {
              height: 30px;
              width: 270px;
              margin: auto;
              font-size: 12px;
              font-weight: normal;
              font-style: italic;
              background-color: #fff;
              border: 0;
              border-radius: 3px;
              color: grey;
              padding-left: 0.75em;
            }
          }
        }

          .info-input {

            .birthyear-input,
            .gender-input,
            .country-input,
            .city-input, {
              display: inline-block;
              margin: 1em 0 0 0;
              margin-left: 20px;
              ::-webkit-input-placeholder {
                color: #4a4a4a;
              }


              .small-input-box {
                height: 30px;
                width: 100px;
                font-size: 12px;
                font-weight: normal;
                background-color: #fff;
                border: 0;
                border-radius: 4px;
                color: #4a4a4a;
                padding-left: 0.75em;
              }
            }
          }

        .signup-links-bottom {
          display: inline-block;
          text-align: left;
          margin-left: 20px;


          .signup-button {
            padding: 5px 10px 5px 10px;
            text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
            background-color: #00c39c;
            color: #fff;
            border-radius: 3px;
            border: 0;
            margin: 2.4em 0 1em 0;
            cursor: pointer;

            &:hover {
              opacity: 0.8;
            }
          }
          .go-back-link {
            padding: 5px 10px 5px 18px;
            background-color: grey;
            color: #fff;
            border-radius: 3px;
            margin: auto;
            cursor: pointer;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}


/* Submit Question Modals */
.modal-finished-button {
  height: 25px;
  width: 100px;
  background-color: #56A1F8;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  margin: 15px 0px 15px 0px !important;
}

.modal-finished-button:hover {
  opacity: 0.8;
}

/* Submit Question Modal */
.modal-extra-options {
  display: inline;
  margin: auto;
}

.modal-header-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px !important;
  width: 80%;
  margin: 0 auto;
}

.bg-blue {
  background-color: #5986dd !important;
}

.modal-content {
  background-color: #fff !important;
  border-radius: 10px;
  width: 120%;
  margin-left: -10%;
}

.submit-q-text {
  text-transform: none;
  color: #fff;
  margin: 20px;
  font-weight: bold;
}

.question-icon{
  float:left;
  margin-top: 6px;
  margin-right: 1%;
}

.submit-questions-container {
  margin: 5px 20px 40px 20px;
}

#input-q-title{
  float:left;
  height: 35px;
  width: 93%;
  padding: 15px;
  font-style: italic;
  background-color: #e7e7e7;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}

.countdown {
  margin-left: 42px;
}

.submit-q-dropdown{
  margin-left: 2.7em;
}

.multiple-choice{
  &:hover {
    cursor: pointer;

  }

  &:not(:first-child) {
    margin-left: 15px;
  }

  .active {
    background: 2px solid #4a90e2;
  }

  .stat-active {
    color: #4a90e2;
  }

  .ask-question-toggle-active {
    border: 2px solid #00C39C !important;
    color: #00C39C !important;
  }

  .multiple-choice-toggle{
    height: 50px;
    width: 250px;
    text-align: center;
    color: #9B9A9C;
    padding-top: 0.7em;
    display: inline-block;
    border: 2px solid #9B9A9C;
    border-radius: 0.5em;

    &:hover {
    color:#00C39C;
    text-decoration:none;
    border-color: #00C39C;
    }

    #multiple-choice-label{
      font-size: 20px;
    }
  }
  .ask-question-active-toggle {
    border: 2px solid #00C39C;
    color: #00C39C;
  }
}

.modal-input-title {
  font-weight:800;
  font-size: 19px;
  color: #56A1F8;
  margin: 1em 0em 0.25em 2em;
}

input[name="submit_question_category"],
input[name="submit_question_type"] {
  height: 40px;
  width: 80%;
  padding: 15px;
  font-style: italic;
  background-color: #e7e7e7;
  border: none;
  font-size: 20px;
}

.answer-box {
  height: 65px;
  padding: 15px;
  font-style: italic;
  background-color: #e7e7e7;
  border: none;
  font-size: 20px;
}

select[name="submit_question_category"],
select[name="submit_question_answer_type"] {
  text-transform: none;
  border: none;
  height: 65px;
  width: 100%;
  font-size: 20px !important;
  padding: 17px;
  color: #404141;
  font-weight: 400;
  background-color: #e7e7e7;
}

.text-dark {
  color: #4a4a4a;
}

.field-hide {
  display: none;
}

.modal-footer-pushed {
  margin-top: -40px !important;
}

.answer-box {
  width: 47%;
  display: inline-block;
  margin: 10px 25px 10px 0px;
  height: 65px !important;
  background-color: #e7e7e7 !important;
  border: none;
  font-size: 20px;
  text-align: center;
}

.answer-box:nth-child(even) {
  margin-right: 0;
}

#add-answer-button {
  background-color: #56A1F8;
  color: #fff;
  font-size: 1.0em;
  border: none;
  border-radius: 3px;
  margin: 20px 0 0 2.6em;
  font-style: normal;
  font-size: 1em;
  font-weight: 600;
  font-family: "Open Sans";
  height: 25px;
  padding: 0 1em;
}

.referral-container {
  text-align: center;
  background: #f7f7f7;
  padding: 5px;
  border-radius: 10px;
}
