.share-image-container {
  position: relative;
}

.feed-back-title {
  color: white;
  font-weight: 300;
  font-size: 12px;
}

.shared-photo {
  height: 75vh;
  margin-bottom: 22px;
}

.share-image-title {
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  float: left;
  left: 11%;
}

.feed-link {
  display: inline-block;
  float: left;
}
.feed-back-arrow{
  position:relative;
  bottom: 2px;
  margin-right: 7px;
}

#back-to-feed-button{
  position:relative;
  left:50px;
}

//bounce animation
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-10px);}
    60% {-webkit-transform: translateY(-10px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-10px);}
}

.bounce {
    position:absolute;
    bottom: 0;
    left: 47.5%;
    -webkit-animation-name: bounce;
    animation-name: bounce;
}
//end animation

.image-frame {
  width: 100%;
  background-color: #212124;
  margin-bottom: 50px;
  padding-top: 20px;
  height: 93vh;
  position: relative;

  .image-container {
    position: relative;
    margin: 0 auto;
    width: 60%;
  }

  .share-icon-container {
    color: #878686;
    text-align: center;
    display: inline-block;
    margin-bottom: -5em;
    margin-right: 4em;
    height: 100px;
  }
}

.meta-title{
  font-weight: 500;
  font-size: 15px;
}
// *Answer input style*
.answer-prompt {
  margin-top: 0em;
  display: inline-block;

  .form-group {
    padding-bottom: 3em;

    .block_radio_button_collection {
      display: block;
      text-align: left;
      margin-left: 57px;
      text-indent: -26px;
      line-height: 1.3;
      margin-top: .5em;
      width:60%;

    }

    .collection_radio_buttons {
      margin-left: 1em;
      font-weight: 500;
      font-size: 14px;
      display:inline;
    }

    #input-dropdown {
      .answer-dropdown-input {
        height: 36px;
        width: 240px;
        color: #9B9B9B;
        font-size: 12px;
        background-color: #f7f7f7;
        border: 0;
        border-radius: 5px;
        margin-bottom: -10em;
        margin-top: 1em;

      }
    }

    #answer-button {
      .modal-button {
        margin-top: 2em;
        height: 36px;
        padding: 0px 30px 0px 30px;
        background-color: #00C39C;
        color: #fff;
        border-radius: 5px;
        border: none;

      }
      .modal-button:disabled {
        background-color: #9a9a9a;
      }
      .no-answer-prompt {
        display: block;
        margin-top: .5em;
        height: 36px;
        width: 10em;
        padding: 9px 30px 9px 30px;
        background-color: #4A90E2;
        border-radius: 5px;
        color: #fff;
      }
    }
  }

  #otherInput {
    position: relative;
    top:20px;


    #otherInputBox {
      .answer_options_for_collection{
        height:36px;
      }
      .question_options_for_collection {
        width: 240px;
      }
      .other-input-text {
        height: 36px;
        width: 240px;
        color: black;
        font-size: 12px;
        background-color: #f7f7f7;
        resize: none;
        padding: 10px 20px 0px 20px;
        border: 0;
        border-radius: 5px;
        padding-left: 10px;
        padding-bottom: 10px;
      }

      ::-webkit-input-placeholder {
         position:relative;
         bottom: 1px;
      }

      :-moz-placeholder { /* Firefox 18- */
        position:relative;
        bottom: 1px;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
         position:relative;
         bottom: 1px;
      }

      :-ms-input-placeholder {
         position:relative;
         bottom: 1px;
      }
    }

    #otherInputButton {
      float: left;
      .other-button {
        height: 36px;
        padding: 0px 30px 0px 30px;
        background-color: #00C39C;
        color: #fff;
        border-radius: 5px;
        border: none;
        margin-left: 1em;
      }
      .other-button:disabled {
        background-color: #9a9a9a;
      }
    }
  }
}

// *Tag input style*

.tag-labels {
   color: #419BF9;
   background-color: #fff;
   font-family: "Helvetica", sans-serif;
   font-size: 12px;
   font-weight: 500;
   text-align: center;
   white-space: nowrap;
   padding:6px;
   border-radius: 5px;
   border: 1px solid #419BF9;
   opacity: .95;

 }

.tag-prompt {

  .checked {
    border: 1px solid #419BF9;
    color: #419BF9;
  }

  .options {
    position: relative;
    width: 60em;
    display: inline-block;
    right: 8em;

    .tag_button_collection {
      position: relative;
      float: left;
      clear: right;
      cursor: pointer;
      white-space: nowrap;
      margin-left: 15em;
      margin-top: 5px;
      height: 20px;
      background-color: #fff;
      padding: 12px 30px 25px 30px;
      color: #4a4a4a;
      font-weight:500;
      border: solid;
      border-width: 1px;
      border-radius: 50px;
      border-color: #979797;

      input{
        visibility: hidden;
        margin-left: -22px;
      }

      .checked_text {
        color: #6a6a6a;
      }


      .tag-count{
        position: relative;
        float: left;
        right: 16px;
        color: #6a6a6a;
        font-size: 15px;
        font-weight: 700;

      }

      .grey-up{
        position: relative;
        float: left;
        right: 5px;
        bottom: 6px;
        width: 13px;

      }
      .blue-up{
        position: relative;
        float: left;
        right: 5px;
        bottom: 6px;
        width: 13px;

      }
    }

  }

    #otherInputBox {
      display: inline-block;
      position: relative;
      right: 270px;
      input:focus {
        outline: none;
      }
      input[type="submit"]
      {
        width: 2em;
        height: 2em;
        border: none;
        background: url(image_path('add_tag_inactive.png'));
        background-size: 28px 28px;
        position: relative;
        left: 240px;
        display: inline;
        bottom: 32px;

        &:disabled {
          background: url(image_path('add_tag_hover.png'));
          background-size: 28px 28px;
        }
      }

      .answer_options_for_collection{
        height:36px;
      }
      .question_options_for_collection {
        width: 240px;
      }
      .new-tag {
        color: #7ed321;
        font-weight: bold;
        font-size: 18px;
      }
      .other-input-text {
        height: 32px;
        width: 317px;
        font-size: 12px;
        background-color: #fff;
        resize: none;
        border: solid;
        border-color: #c4c4c4!important;
        border: solid;
        border-width: 1px;
        padding: 10px 20px 0px 20px;
        border-radius: 50px;
        padding-left: 13px;
        padding-bottom: 7px;
        margin-top:2px;
        margin-left: 14em;

      }

      ::-webkit-input-placeholder {
         position:relative;
         bottom: 1px;
      }

      :-moz-placeholder { /* Firefox 18- */
        position:relative;
        bottom: 1px;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
         position:relative;
         bottom: 1px;
      }

      :-ms-input-placeholder {
         position:relative;
         bottom: 1px;
      }
    }

}

//Questions show page
#question-page-container {
  height: 100%;
  min-height: 100%;
  width: 98%;
  margin: 0 auto;
  margin-top: 2em;
  padding-bottom: 50px;

  .tabs {
    position: relative;
    width:100%;
    display:inline-block;
  }

  /*----- Tab Links -----*/
  /* Clearfix */
  .tab-links:after {
    display:block;
    clear:both;
    content:'';
  }

  .tab-links ul {
    width: 150%;
  }

  .tab-links li {
    margin:0px 10px;
    float:left;
    list-style:none;
    display:inline-block;


  }

  .tab-links a {
    padding:10px 16px;
    display:inline-block;
    //border: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-radius:7px 7px 0px 0px;
    font-size:16px;
    font-weight:600;
    color:#C0C0C0;
    transition:all linear 0.15s;
  }

  .tab-links a:hover {
    color:#4A90E2;
    background:#FCFCFC;
    text-decoration:none;
    border-color: #5AA3E8;
  }

  li.active a, li.active a:hover {
    color:#4A90E2;
    background:#FCFCFC;
    border-color: #5AA3E8;
  }

  /*----- Content of Tabs -----*/
  .tab-content {
    min-height: 450px;
    width: 106%;
    position: relative;
    top: -9px;
    left: -30px;
    padding:15px;
    border-radius:5px;
    color:#4a90e2;
    font-weight: 600;
    border: 1px solid #5AA3E8;
    //border-right: 1px solid #5AA3E8;
    //border-left: 1px solid #5AA3E8;
    //border-bottom: 1px solid #5AA3E8;
    background:#FCFCFC;

    a.btnNext {
      margin-left: 3em;
    }

    a.btnPrevious {
      margin-right: 3em;
    }

    #panel {
      position: absolute;

      left: 50%;
      margin-left: -180px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
    }

    #age_form {
      position: relative;
      width: 15%;
      left: 35%;
      top: 150px;
    }

    #gender_form {
      position: relative;
      left: 51%;
      width: 15%;
      top: 117px;
    }

    #gender_age_label {
      position: relative;
      top: 150px;
    }

    #gender_age_submit {
      position: relative;
      top: 150px;
    }

    #pstm_description {
      position: relative;
      top: 150px;
    }

    #heatmap {
      height: 100%;

      #map-canvas {
        min-height: 450px;
        height: 100%;
        max-width: none;
        margin-top: 10px;
      }
    }
  }

  .tab {
    display:none;
  }

  .tab.active {
      display:block;
  }

  /* Question Show */
  #question-hero {
    .question-container {
      height: 100px;
      width: 75%;
      float: left;
      display: inline-block;
      border-radius: 5px;
      padding-top: 0.25em;
      padding-left: 0.5em;
      padding-right: 0.5em;

      .question-vote-container {
        float: left;
        width: 17%;
        text-align: center;
        margin: 10px 0px 0px 0px;

        .question-vote-image {
          width: 45px;
          height: auto;
          background-color: #fff;
          border-radius: 50%;
          padding: 5px;

          &:hover {
            opacity: 0.8;
          }
        }

        .question-vote-counter {
          font-size: 25px;
          color: #00C39C;
          margin-top: -1px;
          margin-bottom: -1px;
        }
      }

      .question-title-container {
        height: auto;

        .answer-dropdown-input {
          height: 36px;
          width: 240px;
          color: #9B9B9B;
          font-size: 12px;
          background-color: #f7f7f7;
          border: 0;
          border-radius: 5px;
          margin-bottom: -1em;

        }

        .question-title {
          position: relative;
          font-weight: 600;
          font-size: 20px;
          line-height: 23px;
          color: #4A90E2;
          float:left;
          width:60%;

        }

        .answer-counter {
          float: left;
          width:60%;
          height:23px;
          margin-bottom: 1em;
          font-size: 16px;
          color: #4a4a4a;
        }
      }
    }

    #Social-like-button {
      position: relative;
      float: left;
      top: 7.5em;
      left:2.2em;
      a {
        width:100%;
        display:inline;
      }
      .fb-like{
        width:100%;
        display:inline;
        top: -5px;
        right:2px;
      }
    }

    #question-meta-container {
      width: 24%;
      float: right;
      display: inline-block;
      vertical-align: top;
      height: auto;



      .question-title-count,
      .question-share-container {
        color: #878686;
        text-align: center;
        margin-bottom: -5em;
        margin-right: 4em;

      }

      .meta-title {
        font-size: 12px;
        font-weight: 400;
        color: #9B9B9B;
        padding-top: 5px;
      }

      .question-title-count {
        font-size: 22px;
        font-weight: 600;
      }

      .question-share-container {
        margin-top: 20px;
        float:right;
        display:inline-block;


        .share-link {
          &:hover {
            opacity: 0.7;
          }

          &:not(:first-child) {
            margin-left: 10px;
          }

          .share-image {
            height: 23px;
            width: auto;
          }
        }
      }
    }
  }


  #question-content-container {
    clear: both;
    padding-top: 4em;

    /* Report */
    .report-container {
      width: 75%;
      float: left;
      display: inline-block;
    }

    /* Next Question Section */
    #trending-questions-container {
      width: 24%;
      float: right;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      border: 1px solid #cacaca;
      border-radius: 5px;
      margin-top: 52px;

      #view-feed-button {
        width: 50%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 10px;
        padding: 10px 15px 10px 15px;
        color: #fff;
        background-color: #00c39c;
        border-radius: 4px;
        transition: all 150ms linear;
        -webkit-transition: all 150ms linear;
        -ms-transition: all 150ms linear;
        -moz-transition: all 150ms linear;

        &:hover {
          box-shadow: 0px 2px 1px rgba(0,0,0,0.35);
          opacity: 0.8;
        }
      }

      .trending-questions-label {
        color: #00c39c;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }

  #comment-section {
    display: none; /* Remove this to bring back comments */
    clear: both;
    padding-top: 5em;
    margin-bottom: 2em;
    text-align: center;
    position: relative;
  }

  /* Chart */
  .visualization {
    padding: 1% 3%;
    width: 100%;
    text-align: center;

    .country_dropdown {
      color: #4a90e2;
      text-align: right;
      background: transparent;
      font-size: 14px;
      line-height: 1;
      border: 1px solid #888;
      border-radius: 5px;
      height: 30px;
      width: 11em;
      float: right;

    }

    #heat_position{
      color: #4a90e2;
      text-align: right;
      background: transparent;
      font-size: 14px;
      line-height: 1;
      border: 1px solid #888;
      border-radius: 5px;
      height: 30px;
      width: 12em;
      float: right;

    }

    .location-select {
      .location-label {
        color: #555;
        display: inline-block;
        font-size: 23px;
        margin-top: 0.5em;
        margin-bottom: 1em;
        font-weight: 600;
        font-variant: small-caps;

        .location-current {
          color: #50e3c2;
        }
      }

      .location-list {
        display: inline-block;
        float: right;

        ul {
          display: inline;
        }

        li.active > a {
          color: white;
        }
      }
    }

    .c3-tooltip tr td{
      color: #555;
    }

  }

  .location-label {
    font-size: 17px;
    font-weight: 600;
    color: #777;
    text-align: center;
    margin-bottom: 1em;
  }

  .location-list {
    margin-top: 0.75em;
    text-align: center;

    .report-location-list {
      display: inline-block;
      list-style-type: none;
      padding: 0;

      li.active {
        background-color: #5AA3E8;
        border: 1px solid #5AA3E8;

        a {
          color: #fff;
        }
      }

      a{
        display: inline-block;
        padding: 0.25em 1.25em 0.25em 1.25em;
        color: #888;
      }
    }
  }
}
