/* Normal Question Style (Category pages) */

@media screen and (min-width: 1200px) {
  .image-icon-container{
    zoom: 115%;
  }
}

@media screen and (max-width: 1200px) {
  .image-icon-container {
    zoom: 85%;
    margin: 5px !important;
  }
}

.image-icon-container {
  width: 360px;
  background-color: white;
  border-radius: 5px;
  font-size: 11px;
  text-align: left;
  display: inline-block;
  margin: 15px;
  padding-top: 10px;

  #anon-btn {
    float: left;
    margin: -3px 10px 0 10px;
    img {
    height: 40px;
    width: 40px;
    }
  }

  .image-title {
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .image-author {
    margin-bottom: 10px;
  }

  .image-category-icon {
    height: 35px;
    width: 35px;
    float: right;
    margin: -3px 10px 0 10px;
  }

  .image-box-wrapper {
    border-radius: 1px;
    display: inline-block;
    height: 360px;
    width: 360px;

    .image-link-container {
      overflow: hidden;

      .image-link {
        text-decoration: none !important;
      }
    }
  }

  .share-icon-container {
    float: left;
    margin: 8px 0 10px 0px;
  }

  .feed-tagcount {
    float: right;
    font-weight: 700;
    font-size: 12px;
    color: #419BF9;
    margin: 8px 10px 10px 0;
  }
}



/* Normal Question Style (Category pages) */
.question-wrapper {
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  padding: 5px 40px 5px 25px;

  .votes {
    /* display: none; Remove this to bring votes back */
    float: left;
    width: 5%;
    text-align: center;

    .upvote,
    .downvote {
      .vote-image {
        &:hover {
          opacity: 0.75;
        }
      }
    }

    .counter {
      color: #888;
    }
  }

  .question-title-container {
    overflow: hidden;
    padding: 10px 15px 5px 15px;

    .question-link {
      text-decoration: none !important;
      font-weight: 600;
      color: #555;

      .question-title {
        font-size: 15px;
        margin: 0;
      }

      .question-dates {
        font-weight: 500;
        font-size: 14px;
        margin-top: 3px;

        div {
          display: inline-block;
          margin-right: 8px;
        }

        .question-answered-date {
          line-height: 11px;
        }
      }

      &:hover {
        .question-title,
        .question-info,
        .num-answers {
          color: #00C39C;
        }
      }
    }

    .question-link-answered {
      color: #aaa;

      &:hover {
        .question-title,
        .question-info,
        .num-answers {
          color: #777;
        }
      }
    }
  }

  &:not(:first-child) {
    margin-top: 15px;
  }
}
