body {
  #question-page-container {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  #comment-section {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
  }

  #question-card-container {
    margin: auto;
    border-radius: 5px;

      /* Question Header Colours */
      .question-container {
        background-color: #a25fbc ;
        padding: 3em;
        padding-bottom: 0.25em;
      }

      .question-container-1 {
        background-color: #8AD321;
        padding: 3em;
        padding-bottom: 0.25em;
      }

      .question-container-2 {
        background-color: #70E25B;
        padding: 3em;
        padding-bottom: 0.25em;
      }

      .question-container-3 {
        background-color: #4AAAE2;
        padding: 3em;
        padding-bottom: 0.25em;
      }

      .question-container-4 {
        background-color: #5D98DE;
        padding: 3em;
        padding-bottom: 0.25em;
      }

      .question-container-5 {
        background-color: #E96C4E;
        padding: 3em;
        padding-bottom: 0.25em;
      }

      .question-container-6 {
        background-color: #F3A82D;
        padding: 3em;
        padding-bottom: 0.25em;
      }

      .question-container-7 {
        background-color: #966DBA;
        padding: 3em;
        padding-bottom: 0.25em;
      }

      .question-container-8 {
        background-color: #46CEDE;
        padding: 3em;
        padding-bottom: 0.25em;
      }

      .question-container-9 {
        background-color: #EAC57B;
        padding: 3em;
        padding-bottom: 0.25em;
      }

      .question-container-10 {
        background-color: #50E3C2;
        padding: 3em;
        padding-bottom: 0.25em;
      }

      .question-title {
        font-weight: 600;
        font-size: 22px;
        text-align: center;
        color: #fff;

        .question-title-count {
          text-align: center;
          color: #fff;
          font-size: 13px;
          font-weight: normal;
        }
    }

    .modal-save-wrapper {
      padding-bottom: 1em;
    }
  }

  #answer-info {
    padding-top: 1em;

    .no-answer-container {
      padding-top: 10em;
      padding-bottom: 10em;
      width: 100%;
      text-align: center;

      .no-answer-prompt {
        font-size: 25px;
        font-weight: 600;
        color: #aaa;

        a {
          color: #00c39c;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .column_chart {
      height: 500px;
      width: 450px;
      margin: 0 auto;
      text-align: center;
    }

    .user-submitted-answer {
      line-height: 50px;
    }

    .questions-page-input,
    .user-submitted-answer {
      height: 45px;
      width: 40%;
      margin: auto;
      margin-bottom: 5px;

      color: #9B9B9B;
      text-align: center;
      font-size: 16px;
      background-color: #f7f7f7;

      border: 0;
      border-radius: 5px;
      box-shadow: 0px 1px 1px 1px rgba(100, 100, 100, 0.35);
    }

    .modal-save-wrapper {
      .modal-button {
        box-shadow: 0px 1px 1px rgba(100,100,100,0.5);

        &:hover {
          box-shadow: 0px 2px 2px rgba(100,100,100,0.5);
          transform: scale(1.01);
          -webkit-transform: scale(1.01);
          -ms-transform: scale(1.01);
          -moz-transform: scale(1.01);
        }
      }
    }
  }

  .answer-prompt {
    .form-inline {
      select {
        display: block;
        height: 25px;
        width: 40%;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 1em;

        color: #9B9B9B;
        text-align: center;
        font-size: 12px;
        background-color: #f7f7f7;

        border: 0;
        border-radius: 5px;
        box-shadow: 0px 1px 1px 1px rgba(100, 100, 100, 0.35);
      }
    }

    .fake-signin-button {
      display: block;
      height: 25px;
      width: 175px;
      line-height: 25px;
      margin: auto;
      margin-bottom: 1em;

      color: #9B9B9B;
      text-align: center;
      font-size: 12px;
      background-color: #f7f7f7;

      border: 0;
      border-radius: 5px;
      -webkit-transition: all 150ms linear;
      -moz-transition: all 150ms linear;
      -ms-transition: all 150ms linear;
      transition: all 150ms linear;

      &:hover {
        cursor: pointer;
        background-color: #00c39c;
        color: #fff;
        box-shadow: 0px 1px 1px 1px rgba(25, 25, 25, 0.25);
      }
    }

    .form-group {
      .answer_value {
        .form-control {
          display: block;
          height: 35px;
          width: 40%;
          margin: auto;
          margin-top: 2em;
          margin-bottom: 1em;

          color: #9B9B9B;
          text-align: center;
          font-size: 12px;
          background-color: #f7f7f7;

          border: 0;
          border-radius: 5px;
          box-shadow: 0px 1px 1px 1px rgba(100, 100, 100, 0.35);
        }
      }
    }
  }

  .visualization {
    padding: 1% 3%;
    width: 100%;
    text-align: center;

    .location-select {
      .location-label {
        color: #555;
        display: inline-block;
        font-size: 23px;
        margin-top: 0.5em;
        margin-bottom: 1em;
        font-weight: 600;
        font-variant: small-caps;

        .location-current {
          color: #50e3c2;
        }
      }

      .location-list {
        display: inline-block;
        float: right;

        ul {
          display: inline;
        }

        li.active > a {
          color: white;
        }
      }
    }

    .c3-legend-item{
      font-size: 15px;
      font-family: 'Open Sans';
      font-weight: 700;
    }

    .c3-tooltip tr td{
      color: #555;
    }
    
  }

  .report-container {
    width: 100%;
    padding: 2em 5px;
    text-align: center;

    #answer-chart{
      height: 475px;    
      svg{
        display: inline;
        margin: 0 auto;
      }
    }
    .average {
      p{
        color: #50e3c2;
        font-weight: bold;
      }
    }

  }

  .share-answer {
    margin-bottom: 20px;
    text-align: center;

    .share-answer-text {
      margin-bottom: 15px;

      a {
        text-decoration: underline;
      }
    }

    #share-signup-btn {
      color: rgb(0, 195, 156);
      font-style: underline;
    }

    .share-link {
      &:not(:first-child) {
        margin-right: 10px;
      }
    }

    .share-image {
      height: auto;
      width: 30px;

      &:hover {
        opacity: 0.8;
      }
    }

    .social-media-buttons {
      ul {
        li {
          list-style-type: none;
          display: inline;
          a {
            #footer-social-img {
              height: 35px;
              margin: 0.5em;
              margin-top: 1em;
            }
          }
        }
      }
    }
  }

  .share-answer-section {
    margin-top: 25px;
  }

  .location-label {
    font-size: 17px;
    font-weight: 600;
    color: #777;
    text-align: center;
    margin-bottom: 1em;
  }

  .location-list {
    margin-top: 0.75em;
    text-align: center;

    .report-location-list {
      display: inline-block;
      list-style-type: none;
      padding: 0;

      li.active {
        background-color: #00c39c;
      }

      a{
        display: inline-block;
        padding: 0.75em 1.5em 0.75em 1.5em;
      }

      .report-location {
        display: inline-block;
        background-color: #00C39C;
        border-radius: 5px;

        &:not(:first-child) {
          margin-left: 0.5em;
        }

        &:hover {
          opacity: 0.8;
        }

        .country {

          .filter-location-select {
            #width: 80px;
            #height: 35px;
            font-size: 15px;
            background-color: #00C39C;
            border-radius: 4px;
            outline: none;
            border: 0;
            color: #fff;
            text-align: center;

            &:hover {
              background-color: #00C39C !important;
            }
          }
        }
      }
    }
  }

  .back-to-category {
    color: #00c39c;
    text-align: center;
  }

  #back-to-category {
    padding: 1em;
  }
}
