.share-image-container {
  position: relative;
}

#achievement_box {
  width: 350px;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 100;
  background-color: #001F3E;
  opacity: 0.75;
  border-radius: 5px;

  #thankyou_msg {
    color: white;
    position: relative;
    left: 100px;
    display: inline-block;
  }

  #unlocked_msg {
    color: white;
    position: relative;
    left: 40px;
  }

  #image1 {
    display: inline-block;
    position: relative;
    left: 120px;
  }

  #nav-signup-btn {
    padding: 7px 16px 7px 16px;
    background-color: #50e3c2;
    color: #fff;
    display: block;
    width: 280px;
    position: relative;
    left: 35px;
    bottom: 10px;
  }
}

#image_poll {
  background-color: #BBDAFF;
  padding-top: 20px;
}

#question_poll {
  height: 100vh;
  background-color: #BBDAFF;
  padding-top: 20px;
}

#donut-caption {
  font-weight: 500;
  padding-top: 70px;
  font-size: 18px;
}

#share-image-world {
  margin-bottom: 70px;
  background-color: #FAFAFA;
}

.shared-photo {
  position: relative;
  height: 55vh;
  margin-bottom: 22px;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.shared-photo-mobile {
  width: 95%;
  height: auto;
  margin-bottom: 22px;
}


.share-image-title {
  color: #4a4a4a;
  font-weight: 600;
  font-size: 17px;
  position: relative;
  text-align: center;
  margin-bottom: -2.3em;
  top: -.8em;
}

.toast {
  opacity: .95 !important;
  background-color: #419BF9 !important;
  -moz-box-shadow: 0 0 12px #4A4A4A !important;
  -webkit-box-shadow: 0 0 12px #4A4A4A !important;
  box-shadow: 0 0 12px #4A4A4A !important;
}

.image-frame {
  width: 100%;
  background-color: #F6F6F6;
  padding-top: 20px;
  position: relative;

  .image-container {
  }
   .share-icon-container {
    color: #878686;
    text-align: center;
    display: inline-block;
    margin-right: 4em;
  }
}

/**@media screen and (max-width: 768px) {
  .image-frame {
    background-color: red;
  }
  .image-container {
    width: 100px;
  }
  .shared-photo {
    width: 100px;
  }
}

@media screen and (min-width: 1400px) {
  .image-container {
    width: 65%;
  }
  .shared-photo {
    height: 65vh;
  }
}

@media screen and (min-width: 1700px) {
  .image-container {
    width: 75%;
  }
  .shared-photo {
    height: 75vh;
  }
}
**/

.meta-title{
  font-weight: 400;
  font-size: 14px;
  color: #4a4a4a;
}

// *Answer input style*
.answer-prompt {
  margin-top: 0em;
  display: inline-block;

  .form-group {
    padding-bottom: 3em;

    .block_radio_button_collection {
      display: block;
      text-align: left;
      margin-left: 57px;
      text-indent: -26px;
      line-height: 1.3;
      margin-top: .5em;
      width:50%;
      color: #4a4a4a;

    }

    .collection_radio_buttons {
      margin-left: 1em;
      font-weight: 500;
      font-size: 14px;
      display:inline;
    }

    #input-dropdown {
      .answer-dropdown-input {
        height: 36px;
        width: 240px;
        color: #9B9B9B;
        font-size: 12px;
        background-color: #f7f7f7;
        border: 0;
        border-radius: 5px;
        margin-bottom: -10em;
        margin-top: 1em;

      }
    }

    #answer-button {
      .modal-button {
        margin-top: 3em;
        height: 36px;
        padding: 0px 30px 0px 30px;
        background-color: #00C39C;
        color: #fff;
        border-radius: 5px;
        border: none;

        &:hover{
          background-color: #00C16D;
        }

      }
      .modal-button:disabled {
        background-color: #9a9a9a;
      }
      .no-answer-prompt {
        display: block;
        margin-top: .5em;
        height: 36px;
        width: 7.55em;
        padding: 9px 30px 9px 30px;
        background-color: #419BF9;
        border-radius: 5px;
        color: #fff;

        &:hover{
        background-color: #007CFD;
        }
      }
    }
  }

  #otherInput {
    position: relative;
    top:20px;

    #otherInputBox {
      .answer_options_for_collection{
        height:36px;
      }
      .question_options_for_collection {
        width: 240px;
      }
      .other-input-text {
        height: 36px;
        width: 320px;
        color: black;
        font-size: 12px;
        background-color: #f7f7f7;
        resize: none;
        padding: 10px 20px 0px 20px;
        border: 0;
        border-radius: 5px;
        padding-left: 10px;
        padding-bottom: 10px;
      }

      ::-webkit-input-placeholder {
         position:relative;
         bottom: 1px;
      }

      :-moz-placeholder { /* Firefox 18- */
        position:relative;
        bottom: 1px;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
         position:relative;
         bottom: 1px;
      }

      :-ms-input-placeholder {
         position:relative;
         bottom: 1px;
      }
    }
  }
}

// *Comment input style*

.report-image-thumb {
  width: 250px;
  margin-left: 10em;
}

.wrapper-container {
  position: relative;
  margin-left: 30%;
  bottom: 2em;

  .center-container {

    .comment-prompt {

      .liner-title {
        margin-top: 80px;
        position: relative;
        color: #7ED321;
        font-weight: 600;
        font-size: 18px;
        right: 1em;
      }

      .options {
        position: relative;
        text-align: justify;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        width: 50em;
        right: 2em;

        .tag_button_collection {
          color: black;
          cursor: pointer;
          display: block;
          font-size:15px;
          font-weight:300;
          margin-left: 10px;
          margin-top: 5px;
          padding: 8px 22px 8px 22px;
          position: relative;
          width: 30em;
          height: 2em;

          input{
            visibility: hidden;
          }

          .comment-count{
            position: relative;
            float: left;
            right: 16px;
            top: 5px;
            color: black;
            font-size: 13px;
            font-weight: 700;

          }

          .grey-up{
            position: relative;
            float: left;
            right: 6px;
            bottom: 5px;
            width: 14px;

          }
          .blue-up{
            position: relative;
            float: left;
            right: 6px;
            bottom: 5px;
            width: 14px;

          }
        }

      }

        #otherInputBox {
          position: relative;
          input:focus {
            outline: none;
          }
          input[type="submit"]
          {
            position: relative;
            cursor: pointer;
            padding: 8px 24px 7.5px 24px;
            border: none;
            border-radius: 8px;
            background-color: #7ED321;
            color: #fff;
            left: 1em;

            &:hover {
              opacity: .8;
            }

            &:disabled {
              background-color: #7CAD45;
            }
          }

          .answer_options_for_collection{
            height:35px;
            width: 300px;
            display: inline;
          }
          .question_options_for_collection {
          }
          .new-tag {
            position: relative;
            color: #7ed321;
            font-weight: 600;
            font-size: 18px;
            display: block;
          }
          .other-input-text {
            height: 35px;
            width: 317px;
            font-size: 14px;
            background-color: #fff;
            resize: none;
            border: solid;
            border-color: #c4c4c4!important;
            border: solid;
            border-width: 1px;
            padding: 10px 20px 0px 20px;
            border-radius: 8px;
            padding-left: 15px;
            padding-bottom: 7px;
            margin-top:2px;

            .popover{
              width:200px;
              height:250px;
              background-color:#419BF9;
              color:#fff;
            }

          }
        }
    }
  }
}

// *Tag input style*

.tag-labels {
   color: #419BF9;
   background-color: #FCFCFC;
   font-family: "Helvetica", sans-serif;
   font-size: 12px;
   font-weight: 500;
   text-align: center;
   white-space: nowrap;
   padding:6px;
   border-radius: 5px;
   border: 1px solid #419BF9;
   opacity: .95;

 }

.wrapper  {
  display: inline-block;
}

.image_thumb {
  margin-top: 80px;
  margin-right: 50px;
  width: 410px;
  float: left;
  background-color: #F6F6F6;
}


.background-container {
  width: 100%;

  .center-container {
    width: 100%;
    padding-bottom: 8em;

    .tag-prompt {
      background-color: #F6F6F6;

      #view_map {
        position: relative;
        cursor: pointer;
        a {
          border: none;
          border-radius: 3px;
          background-color: #419BF9;
          color: #fff;
          padding: 8px 24px 8px 24px;

          &:hover {
            opacity: .8;
          }
        }
      }

      .disablemap {
        a{
          pointer-events: none;
          background-color: #9b9b9b !important;
        }
        &:hover {
            opacity: .8;
          }
      }

      .liner-title {
        margin-bottom: 10px;
        position: relative;
        width: 400px;
        color: #419BF9;
        font-weight: 600;
        font-size: 18px;
      }

      .options {
        position: relative;
        text-align: left;
        margin-left: 40%;
        cursor: pointer;

        .tag_button_collection {
          background-color: #F6F6F6;
          color: #4a4a4a;
          cursor: pointer;
          display: block;
          font-weight:500;
          position: relative;
          width: 50%;
          text-indent: -20px;
          font-size: 15px;
          margin-bottom: 0px !important;

          input{
            margin-right: 5px;
          }

          .tag-count{
            position: relative;
            color: #419BF9 ;
            font-size: 15px;
            font-weight: bold;
            margin-left: 16em;
            bottom: 18px;

          }
        }

      }

        #otherInputBox {
          position: relative;
          input:focus {
            outline: none;
          }
          input[type="submit"]
          {
            cursor: pointer;
            width: 226px;
            height: 35px;
            border: none;
            border-radius: 3px;
            position: relative;
            margin-top: .5em;
            background-color: #7ED321;
            color: #fff;

            &:hover {
              opacity: .8;
            }

            &:disabled {
              background-color: #9b9b9b;
            }
          }

          .answer_options_for_collection{
            height:36px;
          }
          .question_options_for_collection {
            width: 240px;
          }

          .other-input-text {
            height: 35px;
            width: 283px;
            font-size: 14px;
            background-color: #fff;
            resize: none;
            border: solid;
            border-color: #c4c4c4!important;
            border: solid;
            border-width: 1px;
            padding: 10px 20px 0px 20px;
            border-radius: 3px;
            padding-left: 15px;
            padding-bottom: 7px;
            margin-top: -1em;

          }

          ::-webkit-input-placeholder {
             position:relative;
             bottom: 1px;
          }

          :-moz-placeholder { /* Firefox 18- */
            position:relative;
            bottom: 1px;
          }

          ::-moz-placeholder {  /* Firefox 19+ */
             position:relative;
             bottom: 1px;
          }

          :-ms-input-placeholder {
             position:relative;
             bottom: 1px;
          }
        }

    }
  }
}

// Trending questions feed
#trending-questions-container {
    position: relative;
    float: right;
    text-align: center;
    background-color: #516E90;
    width: 18%;
    height: 100em;

    #view-feed-button {
      width: 70%;
      margin: auto;
      margin-top: 15px;
      margin-bottom: 10px;
      padding: 10px 15px 10px 15px;
      color: #fff;
      background-color: #419BF9;
      border-radius: 4px;
      transition: all 150ms linear;
      -webkit-transition: all 150ms linear;
      -ms-transition: all 150ms linear;
      -moz-transition: all 150ms linear;

      &:hover {
        box-shadow: 0px 2px 1px rgba(0,0,0,0.35);
        opacity: 0.8;
      }
    }

    .trending-questions-label {
      color: #50e3c2;
      font-weight: 600;
      font-size: 18px;
    }
  }
//Questions show page
#question-page-container {
  height: 100%;
  min-height: 100%;
  width: 82%;
  float: left;

  .tabs {
    position: relative;
    width:100%;
  }

  /*----- Tab Links -----*/
  /* Clearfix */
  .tab-links:after {
    display:block;
    clear:both;
    content:'';
  }

  .tab-links {
    position: relative;
    width: 100%;
    text-align: left;
    left: 13em;

  }

  .tab-links li {
    display:inline-block;
    margin-right: 1.5em;
    margin-top: -2em;
  }

  .tab-links a {
    padding:12px 26px;
    display:inline-block;
    border: 1px solid #b2b2b2;
    border-radius:4px;
    font-size:16px;
    font-weight:600;
    color:#b2b2b2;
    transition:all linear 0.15s;
  }

  .tab-links a:hover {
    color:#fff;
    background:#419BF9;
    text-decoration:none;
    border-color: #419BF9;
  }

  li.active a, li.active a:hover {
    color:#fff;
    background:#419BF9;
    border-color: #419BF9;
  }

  /*----- Content of Tabs -----*/
  .tab-content {
    position: relative;
    width: 100%;
    text-align: center;
    left: 2em;

    .visualization-tab-prev {
      position: relative;
      float: left;
      left: 14em;
      height: 45px;
      width: 45px;
      vertical-align: top;
      cursor: pointer;
    }

    .visualization-tab-next {
      position: relative;
      float: right;
      right: 12em;
      height: 45px;
      width: 45px;
      vertical-align: top;
      cursor: pointer;
    }

    a.btnNext {

    }

    a.btnPrevious {
      background: url(image_path('back_tab.png'));

    }

    #panel {
      position: absolute;

      left: 50%;
      margin-left: -180px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
    }

    #age_form {
      position: relative;
      width: 15%;
      left: 35%;
      top: 150px;
    }

    #gender_form {
      position: relative;
      left: 51%;
      width: 15%;
      top: 117px;
    }

    #gender_age_label {
      position: relative;
      top: 150px;
    }

    #gender_age_submit {
      position: relative;
      top: 150px;
    }

    #pstm_description {
      position: relative;
      top: 150px;
    }

    #heatmap {
      height: 100%;

      #map-canvas {
        margin: 0 auto;
        min-height: 450px;
        height: 100%;
        width: 80%;
        margin-top: 30px;
        margin-left: 12em;
      }
    }
  }

  .tab {
    display:none;
  }

  .tab.active {
      display:block;
  }

  /* Question Show */
  #question-hero {
    .question-container {
      position: relative;
      height: 100px;
      width: 100%;
      float: left;
      left: 13em;
      top: 4em;

      .question-vote-container {
        float: left;
        width: 5%;
        text-align: center;

        .question-vote-image {
          background-color: lightskyblue;
          border-radius: 50%;
          &:hover {
            opacity: 0.8;
          }
        }

        .question-vote-counter {
          font-size: 25px;
          color: #00C39C;
          margin-top: -1px;
          margin-bottom: -1px;

        }
      }

      .question-title-container {
        .question-title {
          font-family: Roboto;
          font-weight: 500;
          font-size: 26px;
          line-height: 30px;
          color: #4a4a4a;
          width:60%;
          margin-top: -10px;
        }

        .answer-counter {
          width:60%;
          font-size: 16px;
          color: #4a4a4a;
          margin-left: 3.5em;
          margin-top: -5px;
        }
      }
    }

    #Social-like-button {
      position: relative;
      float: right;
      top: .5em;
      left: 3.5em;
      a {
        display:block;
      }
      .fb-like{
        display:block;
      }
    }

    #question-meta-container {
      position: relative;
      float: right;
      bottom: 2em;
      right: 6em;

      .meta-title {
        font-size: 12px;
        font-weight: 400;
        color: #9B9B9B;
        padding-top: 5px;
      }

      .share-link {
        &:hover {
          opacity: 0.7;
        }

        &:not(:first-child) {
          margin-left: 10px;
        }

        .share-image {
          width: auto;
          margin-top: -32px;
        }
      }
    }
  }


  #question-content-container {
    position: relative;
    top: 3em;
    clear: both;

    /* Report */
    .report-container {
    background-color: #fafafa;
    }
  }

  /* Chart */
  .visualization {
    width: 100%;
    span {
      font-style: normal !important;
      position: relative;
      left: 2em;
      top: 10px;
    }

    svg {
      position: relative;
      left: 4em;
    }

    .country_dropdown {
      color: #419BF9;
      text-align: right;
      background: transparent;
      font-size: 14px;
      line-height: 1;
      border: 1px solid #888;
      border-radius: 5px;
      height: 30px;
      width: 11em;

    }

    #heat_position{
      color: #419BF9;
      text-align: right;
      background: transparent;
      font-size: 14px;
      line-height: 1;
      border: 1px solid #888;
      border-radius: 5px;
      height: 30px;
      width: 12em;

    }

    .c3-tooltip tr td{
      color: #555;
    }
  }
}
