/* Normal Question Style (Category pages) */

.question-icon-container {
  width: 400px;
  background-color: white;
  border-radius: 5px;


  .question-title {
    font-weight: 600;
    width: 15em;
    height: 5em;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }

  .question-with-category-icon {
    height: 25px;
    width: auto;
  }

  .image-box-wrapper {
    border-radius: 1px;
    display: inline-block;
    height: 400px;
    width: 400px;

    .invisible {
      visibility: hidden;
    }
    .hidden-field {
      display: none;
    }

    .image-link-container {
      overflow: hidden;

      .image-link {
        text-decoration: none !important;
      }
    }
  }
}



/* Normal Question Style (Category pages) */
.question-wrapper {
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  padding: 5px 40px 5px 25px;

  .votes {
    /* display: none; Remove this to bring votes back */
    float: left;
    width: 5%;
    text-align: center;

    .upvote,
    .downvote {
      .vote-image {
        &:hover {
          opacity: 0.75;
        }
      }
    }

    .counter {
      color: #888;
    }
  }

  .question-title-container {
    overflow: hidden;
    padding: 10px 15px 5px 15px;

    .question-link {
      text-decoration: none !important;
      font-weight: 600;
      color: #555;

      .question-title {
        font-size: 15px;
        margin: 0;
      }

      .question-dates {
        font-weight: 500;
        font-size: 14px;
        margin-top: 3px;

        div {
          display: inline-block;
          margin-right: 8px;
        }

        .question-answered-date {
          line-height: 11px;
        }
      }

      &:hover {
        .question-title,
        .question-info,
        .num-answers {
          color: #00C39C;
        }
      }
    }

    .question-link-answered {
      color: #aaa;

      &:hover {
        .question-title,
        .question-info,
        .num-answers {
          color: #777;
        }
      }
    }
  }

  &:not(:first-child) {
    margin-top: 15px;
  }
}