.answer-prompt {
  margin-top: 1em;
  display: inline-block;

  .form-group {
    padding-bottom: 3em;

    .block_radio_button_collection {
      display: block;
      text-align: left;
    }

    .collection_radio_buttons {
      margin-left: 1em;
    }

    #input-dropdown {
      .answer-dropdown-input {
        height: 36px;
        width: 240px;
        color: #9B9B9B;
        font-size: 12px;
        background-color: #f7f7f7;
        border: 0;
        border-radius: 5px;
        margin-bottom: 1em;
      }
    }

    #answer-button {
      .modal-button {
        margin-top: 2em;
        height: 36px;
        padding: 0px 30px 0px 30px;
        background-color: #00C39C;
        color: #fff;
        border-radius: 5px;
        border: none;
      }

      .modal-button:disabled {
        background-color: #9a9a9a;
      }
    }
  }

  #otherInput {
    position: relative;

    #otherInputBox {
      .answer_options_for_collection{
        height:36px;
      }
      .question_options_for_collection {
        width: 240px;
      }
      .other-input-text {
        height: 36px;
        width: 240px;
        color: black;
        font-size: 12px;
        background-color: #f7f7f7;
        resize: none;
        padding: 10px 20px 0px 20px;
        border: 0;
        border-radius: 5px;
        padding-left: 8px;
        padding-bottom: 10px;
      }

      ::-webkit-input-placeholder {
         position:relative;
         bottom: 1px;
      }

      :-moz-placeholder { /* Firefox 18- */
        position:relative;
        bottom: 1px;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
         position:relative;
         bottom: 1px;
      }

      :-ms-input-placeholder {
         position:relative;
         bottom: 1px;
      }
    }

    #otherInputButton {
      float: left;
      .other-button {
        height: 36px;
        padding: 0px 30px 0px 30px;
        background-color: #00C39C;
        color: #fff;
        border-radius: 5px;
        border: none;
        margin-left: 1em;
      }
      .other-button:disabled {
        background-color: #9a9a9a;
      }
    }
  }
}

#question-page-container {
  height: 100%;
  min-height: 100%;
  width: 98%;
  margin: 0 auto;
  margin-top: 1em;

  .tabs {
    position: relative;
    bottom: 52px;
    width:100%;
    display:inline-block;
  }

  /*----- Tab Links -----*/
  /* Clearfix */
  .tab-links:after {
    display:block;
    clear:both;
    content:'';
  }

  .tab-links ul {
    width: 150%;
  }

  .tab-links li {
    margin:0px 10px;
    float:left;
    list-style:none;
    display:inline-block;

  }

  .tab-links a {
    padding:10px 16px;
    display:inline-block;
    //border: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-radius:7px 7px 0px 0px;
    font-size:16px;
    font-weight:600;
    color:#C0C0C0;
    transition:all linear 0.15s;
  }

  .tab-links a:hover {
    color:#4A90E2;
    background:#FCFCFC;
    text-decoration:none;
    border-color: #5AA3E8;
  }

  li.active a, li.active a:hover {
    color:#4A90E2;
    background:#FCFCFC;
    border-color: #5AA3E8;
  }

  /*----- Content of Tabs -----*/
  .tab-content {
    min-height: 450px;
    width: 106%;
    position: relative;
    top: -9px;
    left: -30px;
    padding:15px;
    border-radius:5px;
    color:#4a90e2;
    font-weight: 600;
    border: 1px solid #5AA3E8;
    //border-right: 1px solid #5AA3E8;
    //border-left: 1px solid #5AA3E8;
    //border-bottom: 1px solid #5AA3E8;
    background:#FCFCFC;

    a.btnNext {
      margin-left: 3em;
    }

    a.btnPrevious {
      margin-right: 3em;
    }

    #panel {
      position: absolute;

      left: 50%;
      margin-left: -180px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
    }

    #age_form {
      position: relative;
      width: 15%;
      left: 35%;
      top: 150px;
    }

    #gender_form {
      position: relative;
      left: 51%;
      width: 15%;
      top: 117px;
    }

    #gender_age_label {
      position: relative;
      top: 150px;
    }

    #gender_age_submit {
      position: relative;
      top: 150px;
    }

    #pstm_description {
      position: relative;
      top: 150px;
    }

    #heatmap {
      height: 100%;

      #map-canvas {
        min-height: 450px;
        height: 100%;
        max-width: none;
        margin-top: 10px;
      }
    }
  }

  .tab {
    display:none;
  }

  .tab.active {
      display:block;
  }

  /* Question Show */
  #question-hero {
    .question-container {
      height: 100px;
      width: 75%;
      float: left;
      display: inline-block;
      border-radius: 5px;
      padding-top: 0.25em;
      padding-left: 0.5em;
      padding-right: 0.5em;

      .question-vote-container {
        float: left;
        width: 17%;
        text-align: center;
        margin: 10px 0px 0px 0px;

        .question-vote-image {
          width: 45px;
          height: auto;
          background-color: #fff;
          border-radius: 50%;
          padding: 5px;

          &:hover {
            opacity: 0.8;
          }
        }

        .question-vote-counter {
          font-size: 25px;
          color: #00C39C;
          margin-top: -1px;
          margin-bottom: -1px;
        }
      }

      .question-title-container {
        height: auto;

        .answer-dropdown-input {
          height: 36px;
          width: 240px;
          color: #9B9B9B;
          font-size: 12px;
          background-color: #f7f7f7;
          border: 0;
          border-radius: 5px;
          margin-bottom: 1em;
        }

        .question-title {
          position: relative;
          font-weight: 600;
          font-size: 20px;
          line-height: 23px;
          color: #4A90E2;
          float:left;
          width:80%;
        }

        .answer-counter {
          float: left;
          width:80%;
          height:23px;
          margin-bottom: 1em;
        }
      }
    }

    #question-meta-container {
      width: 24%;
      float: right;
      display: inline-block;
      vertical-align: top;
      height: auto;

      .question-title-count,
      .question-share-container {
        height: 85px;
        border-radius: 3px;
        border: 1px solid #DCDCDC;
        background-color: #F3F2F2;
        color: #878686;
        text-align: center;
        padding-top: 10px;
      }

      .meta-title {
        font-size: 15px;
        font-weight: 600;
      }

      .question-title-count {
        font-size: 22px;
        font-weight: 600;
      }

      .question-share-container {
        margin-top: 10px;

        .share-link {
          &:hover {
            opacity: 0.7;
          }

          &:not(:first-child) {
            margin-left: 10px;
          }

          .share-image {
            height: 23px;
            width: auto;
          }
        }
      }
    }
  }


  #question-content-container {
    clear: both;
    padding-top: 3em;

    /* Report */
    .report-container,
    .no-answer-container {
      width: 75%;
      float: left;
      display: inline-block;
    }

    .no-answer-container {
      padding-top: 10em;
      padding-bottom: 10em;
      text-align: center;

      .no-answer-prompt {
        font-size: 22px;
        font-weight: 600;
        color: #00c39c;
      }
    }

    /* Next Question Section */
    #trending-questions-container {
      width: 24%;
      float: right;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      border: 1px solid #cacaca;
      border-radius: 5px;
      padding-top: 10px;

      #view-feed-button {
        width: 50%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 10px;
        padding: 10px 15px 10px 15px;
        color: #fff;
        background-color: #00c39c;
        border-radius: 4px;
        transition: all 150ms linear;
        -webkit-transition: all 150ms linear;
        -ms-transition: all 150ms linear;
        -moz-transition: all 150ms linear;

        &:hover {
          box-shadow: 0px 2px 1px rgba(0,0,0,0.35);
          opacity: 0.8;
        }
      }

      .trending-questions-label {
        color: #00c39c;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }

  #comment-section {
    display: none; /* Remove this to bring back comments */
    clear: both;
    padding-top: 5em;
    margin-bottom: 2em;
    text-align: center;
    position: relative;
  }

  /* Chart */
  .visualization {
    padding: 1% 3%;
    width: 100%;
    text-align: center;

    .country_dropdown {
      color: #4a90e2;
      text-align: right;
      background: transparent;
      font-size: 14px;
      line-height: 1;
      border: 1px solid #888;
      border-radius: 5px;
      height: 30px;
      width: 11em;
      float: right;

    }

    #heat_position{
      color: #4a90e2;
      text-align: right;
      background: transparent;
      font-size: 14px;
      line-height: 1;
      border: 1px solid #888;
      border-radius: 5px;
      height: 30px;
      width: 12em;
      float: right;

    }

    .location-select {
      .location-label {
        color: #555;
        display: inline-block;
        font-size: 23px;
        margin-top: 0.5em;
        margin-bottom: 1em;
        font-weight: 600;
        font-variant: small-caps;

        .location-current {
          color: #50e3c2;
        }
      }

      .location-list {
        display: inline-block;
        float: right;

        ul {
          display: inline;
        }

        li.active > a {
          color: white;
        }
      }
    }

    .c3-tooltip tr td{
      color: #555;
    }

  }

  .location-label {
    font-size: 17px;
    font-weight: 600;
    color: #777;
    text-align: center;
    margin-bottom: 1em;
  }

  .location-list {
    margin-top: 0.75em;
    text-align: center;

    .report-location-list {
      display: inline-block;
      list-style-type: none;
      padding: 0;

      li.active {
        background-color: #5AA3E8;
        border: 1px solid #5AA3E8;

        a {
          color: #fff;
        }
      }

      a{
        display: inline-block;
        padding: 0.25em 1.25em 0.25em 1.25em;
        color: #888;
      }
    }
  }
}
