#question-page-container {
  height: 100%;
  min-height: 100%;
  width: 98%;
  margin: 0 auto;
  margin-top: 1em;

  /* Question Header Colours */
  #question-hero {
    .question-container {
      height: 180px;
      width: 75%;
      float: left;
      display: inline-block;
      border-radius: 5px;
      border: 1px solid #DCDCDC;
      background-color: #a25fbc;
      padding-left: 0.5em;
      padding-right: 0.5em;

      .question-title {
        font-weight: 600;
        font-size: 19px;
        text-align: center;
        color: #fff;
      }

      .answer-prompt {
        .form-inline {
          select {
            display: block;
            height: 25px;
            width: 40%;
            margin: auto;
            margin-top: 2em;
            margin-bottom: 1em;

            color: #9B9B9B;
            text-align: center;
            font-size: 12px;
            background-color: #f7f7f7;

            border: 0;
            border-radius: 5px;
            box-shadow: 0px 1px 1px 1px rgba(100, 100, 100, 0.35);
          }
        }

        .form-group {
          .answer_value {
            .form-control {
              display: block;
              height: 35px;
              width: 40%;
              margin: auto;
              margin-top: 2em;
              margin-bottom: 1em;

              color: #9B9B9B;
              text-align: center;
              font-size: 12px;
              background-color: #f7f7f7;

              border: 0;
              border-radius: 5px;
              box-shadow: 0px 1px 1px 1px rgba(100, 100, 100, 0.35);
            }
          }

          #answer-button {
            .modal-button:disabled {
              background-color: #9a9a9a;
            }
          }
        }
      }
    }

    .question-container-1 {
      background-color: #8AD321;
    }

    .question-container-2 {
      background-color: #70E25B;
    }

    .question-container-3 {
      background-color: #4AAAE2;
    }

    .question-container-4 {
      background-color: #5D98DE;
    }

    .question-container-5 {
      background-color: #E96C4E;
    }

    .question-container-6 {
      background-color: #F3A82D;
    }

    .question-container-7 {
      background-color: #966DBA;
    }

    .question-container-8 {
      background-color: #46CEDE;
    }

    .question-container-9 {
      background-color: #EAC57B;
    }

    .question-container-10 {
      background-color: #50E3C2;
    }

    #question-meta-container {
      width: 24%;
      float: right;
      display: inline-block;
      vertical-align: top;

      .question-title-count,
      .question-share-container {
        height: 85px;
        border-radius: 3px;
        border: 1px solid #DCDCDC;
        background-color: #F3F2F2;
        color: #878686;
        text-align: center;
        padding-top: 10px;
      }

      .meta-title {
        font-size: 15px;
        font-weight: 600;
      }

      .question-title-count {
        font-size: 22px;
        font-weight: 600;
      }

      .question-share-container {
        margin-top: 10px;

        .share-link {
          &:hover {
            opacity: 0.7;
          }

          &:not(:first-child) {
            margin-left: 10px;
          }

          .share-image {
            height: 23px;
            width: auto;
          }
        }
      }
    }
  }


  #question-content-container {
    clear: both;
    padding-top: 2em;

    /* Report */
    .report-container,
    .no-answer-container {
      width: 60%;
      float: left;
      display: inline-block;
    }

    .no-answer-container {
      padding-top: 10em;
      padding-bottom: 10em;
      text-align: center;

      .no-answer-prompt {
        font-size: 22px;
        font-weight: 600;
        color: #aaa;
      }
    }

    .report-container {
      border: 1px solid #5AA3E8;
      border-radius: 5px;
    }

    /* Next Question Section */
    #trending-questions-container {
      width: 38%;
      float: right;
      display: inline-block;
      vertical-align: top;
      text-align: center;

      .trending-questions-label {
        color: #00c39c;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }

  #comment-section {
    clear: both;
    padding-top: 5em;
    margin-bottom: 2em;
    text-align: center;
    position: relative;
  }

  /* Chart */
  .visualization {
    padding: 1% 3%;
    width: 100%;
    text-align: center;

    .location-select {
      .location-label {
        color: #555;
        display: inline-block;
        font-size: 23px;
        margin-top: 0.5em;
        margin-bottom: 1em;
        font-weight: 600;
        font-variant: small-caps;

        .location-current {
          color: #50e3c2;
        }
      }

      .location-list {
        display: inline-block;
        float: right;

        ul {
          display: inline;
        }

        li.active > a {
          color: white;
        }
      }
    }

    .c3-legend-item{
      font-size: 15px;
      font-family: 'Open Sans';
      font-weight: 700;
    }

    .c3-tooltip tr td{
      color: #555;
    }

  }

  .report-container {
    width: 100%;
    padding: 2em 5px;
    text-align: center;

    #answer-chart{
      height: 475px;
      svg{
        display: inline;
        margin: 0 auto;
      }
    }
    .average {
      p{
        color: #50e3c2;
        font-weight: bold;
      }
    }
  }

  .location-label {
    font-size: 17px;
    font-weight: 600;
    color: #777;
    text-align: center;
    margin-bottom: 1em;
  }

  .location-list {
    margin-top: 0.75em;
    text-align: center;

    .report-location-list {
      display: inline-block;
      list-style-type: none;
      padding: 0;

      li.active {
        background-color: #5AA3E8;
      }

      a{
        display: inline-block;
        padding: 0.75em 1.5em 0.75em 1.5em;
      }

      .report-location {
        display: inline-block;
        background-color: #5AA3E8;
        border-radius: 5px;

        &:not(:first-child) {
          margin-left: 0.5em;
        }

        &:hover {
          opacity: 0.8;
        }

        .country {
          .filter-location-select {
            #width: 80px;
            #height: 35px;
            font-size: 15px;
            background-color: #00C39C;
            border-radius: 4px;
            outline: none;
            border: 0;
            color: #fff;
            text-align: center;

            &:hover {
              background-color: #00C39C !important;
            }
          }
        }
      }
    }
  }
}
