// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

  .question-label {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin: 5px 0px;
    padding: 20px;
  }

  .questions-unanswered {
    div:not(.answered) {
      .modal-dialog {
        margin-top: 15%;
      }
    }
    .modal-dialog {
      transition: all 0.3s !important;
    }
  }

  .answer-graphs,
  .modal-content {
    // max-width: 900px;
    z-index: 9999;
    margin-top:0;
    background-color: #3fc099;

    .headline {
      margin-bottom: 20px;
      background-color: #00C39C;
      h3 {
        font-size: 30px;
        color: #fff;
        padding-bottom: 20px;
        .large {
          color: #404141;
          font-size: 50px;
        }
      }
    }

    .graph {
      background: #404141;
      height: 320px;
      width: 320px;
      padding: 30px;
      border: 1px solid #FFF9AE;
      margin-left: -1px;
      margin-top: -1px;
    }

    .graph:nth-child(-n+2) {
      border-top:0;
    }
    .graph:nth-child(even) {
      border-right:0;
    }
    .graph:nth-child(odd) {
      border-left:0;
    }
    .graph:nth-last-child(-n+2) {
      border-bottom:0;
    }
  }
  #expand-full-report {
    padding: 20px;
    color: white;
    a {
      color:white;
    }
    i {
      color: #E94576;
    }
  }
  .border-right {
    border-right: 1px solid #aaa;
  }
  .border-bottom {
    border-bottom: 1px solid #aaa;
  }
  .border-top {
    border-top: 1px solid #aaa;
  }
  .border-left {
    border-left: 1px solid #aaa;
  }

  .share-answer-section,
  .share-answer {
    height: 50px;
    color: #4a4a4a;

    p {
      font-size: 22px;
      font-weight: 600;
      font-variant: small-caps;
    }

    .twitter-share,
    .fb-share,
    .gplus-share,
    .pinterest-share,
    .linkedin-share {
      cursor: pointer;
      display: inline-block;
      margin-right: 0.5em;
      vertical-align: top;

      img {
        max-height: 2em;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
