/*
 * Reserve this stylesheet for all responsive media queries.
 */

 @media screen and ( max-width: 1150px ) {
   body {
     .question-wrapper {
       .question-link {
         width: 85%;
       }
     }
   }
 }

@media screen and ( max-width: 1000px ) {
  body {
    #questions-container {
      width: 85%;
    }
  }

  .feature-text-wrapper {
    .feature-title {
      font-size: 27px;
    }

    .feature-detailed {
      font-size: 19px;
      font-weight: 600;
    }

    p {
      width: 85%;
      margin: 10px auto;
    }
  }

  .create-account-title {
    font-size: 28px;
  }

  #home-navbar {
    .logo-container {
      display: none;
    }
  }

}

@media screen and ( max-width: 850px ) {
  body {
    #questions-container {
      width: 95%;
    }

    /* Question pages */
    .site-content {
      min-width: 0px;
      margin-left: 0px;
      position: static;
    }

    #questions-sidebar {
      box-shadow: 2px 0px 4px rgba(25, 25, 25, 0.5);
      z-index: 100;
    }

    #home-navbar {
      width: 100%;
    }

    #sidebar-mobile-close-toggle {
      display: block;
    }

    .container-main-banner {
      .featured-question-title {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .funfact-wrapper {
      margin-bottom: 0;
    }

    #questions-container {
      width: 100%;
      margin-top: 0;
    }

    .legend-answers,
    .categories-num-answers {
      display: none;
    }
  }
}

@media screen and ( max-width: 768px ) {
  /* Home Page */
  #landing {
    #key-points-container {
      .key-points-section {
        width: 90%;
        display: block;
        margin: auto;
      }
    }

    #landing-container {
      width: 95%;

      .logo-name-container {
        #logo {
          height: 125px;
          width: auto;
        }
        h1 {
          font-size: 32px;
        }
      }
    }

    #key-points-container {
      height: 100%;
      margin-bottom: 0;
    }
  }

  /* Signup/Login Pages */
  .signin-page {
    margin-top: -250px;
  }

  /* Navbar */
  #home-navbar {
    .nav-btn {
      font-size: 12px;
      padding: 5px 8px 5px 8px;
    }

    #st {
      width: 200px;
    }

    .back {
      display: none;
    }
  }

  /* Feed */
  #feed-container {
    #feed-stats-container {
      width: 90%;

      .feed-stats {
        .feed-stats-data {
          font-size: 35px;
        }

        .feed-stats-title {
          font-size: 15px;
        }
      }
    }

    #feed {
      width: 95%;
    }
  }

  /* Question Page */
  #question-page-container {
    #question-hero {
      .question-container {
        display: block;
        width: 100%;

        .question-vote-container {
          width: 5%;
          margin-right: 20px;
        }

        .question-title-container {
          margin: 0;

          .question-title {
            font-size: 15px;
          }

          .answer-prompt {
            .form-inline {
              select {
                width: 100%;
                margin: 0;
              }
            }

            .form-group {
              .answer_value {
                .form-control {
                  width: 100%;
                }
              }

              #answer-button {
                .modal-button {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      #question-meta-container {
        display: block;
        float: none;
        width: 100%;
        clear: both;
        text-align: center;

        .question-title-count,
        .question-share-container {
          width: 48%;
          display: inline-block;
        }
      }
    }

    #question-content-container {
      clear: both;
      padding-top: 2em;

      /* Report */
      .report-container,
      .no-answer-container {
        width: 100%;
        float: none;
        clear: both;
        display: block;
      }

      .no-answer-container {
        padding-top: 10em;
        padding-bottom: 10em;
        text-align: center;

        .no-answer-prompt {
          font-size: 18px;
          font-weight: 600;
          color: #aaa;
        }
      }

      .report-container {
        .visualization {
          .tabs {
            .tab-links {
              padding-left: 0;

              li {
                margin: 0;
              }
            }
          }
        }
      }

      .tab-content {
        width: 100%;
        left: 0;
      }

      /* Next Question Section */
      #trending-questions-container {
        width: 100%;
        float: none;
        clear: both;
        display: block;
      }
    }
  }
}
