/* Categories sidebar */
.sidebar {
  height: 20em;
  width: 160px;
  background-color: transparent;
  text-align: center;
  overflow-y: hidden;
  position: fixed;
  top: 8em;
  left: 2.5em;
  z-index: 2;
  overflow: hidden;

  .sidebar-wrapper {
    min-height: 100%;
    margin: 0 auto -155px;

   .category-icon{
      position: relative;
      display: inline-block;
      margin: 5px;

      &:hover {
        transform: scale(1.1,1.1);
      }
    }
  }
}
