/* Categories sidebar */
.sidebar {
  height: 20em;
  width: 140px;
  background-color: transparent;
  overflow-y: hidden;
  position: fixed;
  top: 8em;
  left: 4em;
  z-index: 2;
  overflow: hidden;

 .category-icon{
    position: relative;
    display: inline-block;

    img {
      height: 55px;
      width: 55px;
      margin: 5px;
      border-radius: 50%;
      &:hover {
        transform: scale(1.1,1.1);
      }
    }
  }
}
