/* Categories sidebar */
.sidebar {
  height: 20em;
  width: 140px;
  background-color: transparent;
  position: fixed;
  text-align: left;
  top: 8em;
  left: 4em;
  z-index: 2;

 .category-icon{
    position: relative;
    display: inline-block;

    img {
      height: 55px;
      width: 55px;
      margin: 5px;
      border-radius: 50%;
      &:hover {
        transform: scale(1.1,1.1);
      }
    }
  }
}

.feed-change {
  height: 10em;
  width: 100px;
  background-color: transparent;
  position: fixed;
  top: 8em;
  right: 0px;
  margin-right: 2em;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .feed-change {
    display: none;
  }
  .sidebar {
    display: none;
  }
}
