/* Categories sidebar */
.sidebar {
  width: 250px;
  background-color: #eee;
  text-align: center;
  overflow-y: hidden;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  .sidebar-wrapper {
    min-height: 100%;
    margin: 0 auto -155px;
  }
}

.tse-content {
  height: 100%;
}

.sidebar-title {
  text-align: center;
  height: 100px;
  cursor: pointer;
  padding: 35px 0px 35px 0px;

  img {
    height: 50px;
    width: auto;
  }
}

.submit-question-container {
  margin-top: 20px;

  #submit-question-link {
    height: 25px;
    line-height: 25px;
    padding: 0.5em 1.5em 0.5em 1.5em;
    background-color: #56A1F8;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.35);
    -webkit-transition: all 150ms linear;
    color: #fff;

    &:hover {
      box-shadow: 0px 2px 2px rgba(100,100,100,0.5);
      transform: scale(1.01);
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
      -moz-transform: scale(1.01);
    }
  }

  hr {
    width: 50px;
    border-top: 1px solid #DCDCDC;
    margin-bottom: 5px;
  }
}

#sidebar-mobile-close-toggle {
  display: none;
  font-size: 14px;
  background-color: #E5E5E5;
  border-radius: 5px;
  padding: 5px;
  width: 80%;
  margin: 10px auto;
  padding: 10px 0px 10px 0px;
  cursor: pointer;

  &:hover {
    background-color: #F5F5F5;
  }
}

.sidebar-categories {
  padding-bottom: 15px;

  .sidebar-footer-push {
    height: 155px;
  }

  .category-container {
    white-space: nowrap;
    text-align: left;
    padding: 5px 10px 5px 10px;

    .category-inner-container {
      width: 215px;
      margin: auto;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;

      .category-icon {
        width: 23px;
        height: auto;
        margin-right: 5px;
        text-align: center;
      }

      .category-title {
        color: #4a4a4a;
        font-weight: 500;
        font-size: 13px;
        text-align: left;
      }

      .category-title-active {
        font-weight: bold;
      }

      &:hover {
        background-color: #E3E2E2;
      }
    }

    .category-inner-container-active {
      background-color: #E3E2E2;

      .category-title {
        font-weight: 600;
      }
    }
  }
}

.sidebar-footer {
  height: 155px;
  width: 100%;
  padding: 25px 10px 10px 10px;
  color: #A09E9E;
  background-color: #E3E3E3;

  .sidebar-footer-sections {
    .sidebar-footer-list {
      padding: 0;

      li {
        font-size: 12px;
        font-weight: 400;
        display: inline-block;
        list-style-type: none;
        a {
          color: #A09E9E;

          .sidebar-footer-social-img {
            width: 25px;
            height: auto;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
