/* Categories sidebar */
.sidebar {
  height: 20em;
  width: 200px;
  background-color: transparent;
  position: fixed;
  text-align: left;
  top: 8em;
  left: 4%;
  z-index: 2;

  .sidecat {
    margin-left: 15px;
    position: absolute;
    font-weight: bold;
    top: -20px;
  }

 .category-icon{
    position: relative;
    display: inline-block;

    img {
      height: 65px;
      width: 65px;
      margin: 5px;
      border-radius: 50%;
      &:hover {
        transform: scale(1.1,1.1);
      }
    }
  }
}

.feed-change {
  height: 10em;
  width: 100px;
  background-color: transparent;
  position: fixed;
  top: 85px;
  right: 0px;
  margin-right: 2em;
  z-index: 2;

  button#grid{
    border: none;
    background: white;
    padding: 14px;
    border-radius: 5px 5px 0px 0px;
    margin-top: 5px;
  }
  button#nolist{
    border: none;
    background: white;
    padding: 14px;
    border-radius: 0px 0px 5px 5px;
    margin-top: 5px;
  }
  button#nogrid{
    border: none;
    background: white;
    padding: 14px;
    border-radius: 5px 5px 0px 0px;
    margin-top: 5px;
  }
  button#list{
    border: none;
    background: white;
    padding: 14px;
    border-radius: 0px 0px 5px 5px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 1200px) {
  .feed-change {
    display: none;
  }
  .sidebar {
    display: none;
  }
}
