/* Categories sidebar */
.sidebar {
  height: 18em;
  width: 80px;
  background-color: transparent;
  text-align: center;
  overflow-y: hidden;
  position: absolute;
  top: 12em;
  left: 3em;
  z-index: 2;

  .sidebar-wrapper {
    min-height: 100%;
    margin: 0 auto -155px;

    .submit-question-container {
      margin-top: 25px;
      margin-bottom: 10px;
      img {
        height: 66px;
        width: 66px;
        margin-top: -15px;
      }
      &:hover {
         transform: scale(1.2);

      }
    }

    .share-image-container{
      margin-top: 30px;
      margin-bottom: 10px;
      img {
          height: 66px;
          width: 66px;
          margin-top: -15px;
      }
      &:hover {
         transform: scale(1.2);

      }
    }

    .profile-link {
      margin-top: 30px;
      margin-bottom: 10px;

      .nav-user-circle {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background-color: #00c39c;
        box-shadow: 2px 2px 1px rgba(0,0,0,0.35);
        display: inline-block;
        color: #fff;
        text-align: center;
        font-size:50px;

      }
        &:hover {
         transform: scale(1.2);

        }

      #nav-signup-btn {
        img {
          height: 66px;
          width: 66px;
          margin-top: -15px;
        } 
      }
    }
  }
}


.sidebar-footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  font-size: 17px;
  padding: 10px 0px 10px 50px;
  color: #A09E9E;
  background-color: #E3E3E3;

  .sidebar-footer-sections {
    display: inline-block;
    .sidebar-footer-list {
      padding: 0;


      li {
        font-weight: 400;
        display: inline-block;
        list-style-type: none;
        a {
          color: #A09E9E;

          .sidebar-footer-social-img {
            position: relative;
            margin-left: 10px;
            width: 25px;
            height: auto;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
