<!-- Note: Removing "nav nav-navbar" class breaks onboarding -->
<ul class="onboarding-question-categories-list">
  <% Group.all.each do |group| %>
    <li class="onboarding-question-categories-item">
      <a href="<%= category_path(group) %>" data-group-id="<%= group.id %>">
        <div class="content"><%= group.label.html_safe %></div>
      </a>
    </li>
  <% end %>
</ul>