<footer class="sidebar-footer">
  <div class="sidebar-footer-sections">
    <ul class="sidebar-footer-list">
      <li><a href="/about">About Us</a> &sdot;</li>
      <li><a href="/faq">FAQ</a> &sdot;</li>
      <li><a href="/contact">Contact</a> &sdot;</li>
      <li><a href="http://medium.com/@arima_io">Blog</a></li>
    </ul>
  </div>
  <div class="sidebar-footer-sections">
    <ul class="sidebar-footer-list">
      <li><a href="/terms">Terms &amp; Conditions</a> &sdot;</li>
      <li><a href="/privacy">Privacy Policy</a></li>
    </ul>
  </div>


  <div class="sidebar-footer-sections">
    <ul class="sidebar-footer-list">
      <li><a href="https://www.facebook.com/friendsofarima"><%= image_tag("fb-grey-logo.png", :class => "sidebar-footer-social-img") %></a></li>
      <li><a href="https://twitter.com/arima_io"><%= image_tag("twitter-grey-logo.png", :class => "sidebar-footer-social-img") %></a></li>
    </ul>
  </div>
</footer>