<div class="footer">
  <div class="footer-links">
    <div class="footer-sections">
      <ul class="footer-list">
        <li><a href="https://twitter.com/arima_io"><%= image_tag("twitter-grey-logo.png", :class => "footer-social-img") %></a></li>
        <li><a href="https://www.facebook.com/friendsofarima"><%= image_tag("fb-grey-logo.png", :class => "footer-social-img") %></a></li>
      </ul>
    </div>

    <span>&sdot;</span>

    <div class="footer-sections">
      <ul class="footer-list">
        <li><a href="/about">About Us</a></li>
        <li><a href="//insights.arima.io">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </div>

    <span>&sdot;</span>

    <div class="footer-sections">
      <ul class="footer-list">
        <li><a href="/terms">Terms &amp; Conditions</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</div>
