<h3 style="color: black;">People who voted</h1>
<% for user in @users_list%>
  <%=link_to "#{user.username}", custom_show_path(:username => user.username), :id=>"user_link" %>
  <%=link_to "view profile", custom_show_path(:username => user.username), :id=>"view_profile_link" %>
  <br>
<%end%>
