<nav class="nav" role="navigation" id="home-navbar">
  <section class="left">
    <div id="questions-menu" class="menu-icon">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </section>
  <section>
    <div class="back">
      <%= link_to "#{image_tag("back_arrow.png")} Back".html_safe, :back, {:style=>'color:#00c39c'} %>
    </div>
  </section>

  <section class="right">
    <form class="form-horizontal" role="form" action="/search">
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" name="search_text" class="form-control" id="st" placeholder="Search for questions...">
        </div>
      </div>
    </form>
  </section>
</nav>

<%= render :file => '/questions/new' %>
