

<!-- Share New Question Modal -->
<div class="modal fade" id="shareSignupModal" tabindex="-1" role="dialog" aria-labelledby="shareSignupModal" aria-hidden="true">
    <%= link_to "×", show_share_modal_question_path(:user_id => cookies[:guest]), :method => :put, :remote => true, :class => "go-back-link", :data => { :dismiss => "modal" } %>
    <div class="share-modal-content-container">
        
    </div>
</div><!-- /.modal -->
